<div class="container-fluid">
  <div class="row">
    <div class="contact-description">
      <span>contact</span>
    </div>
    <div class="locations">
      <ul class="city-blocks">
        <li>
          <p>yerevan <span>|</span> am</p>
          <ul class="list-group">
            <li>+374 11 388 633</li>
            <li class="email">info@zuckandberg.com</li>
            <li>moskovyan 28 | apt. 168</li>
          </ul>
        </li>
        <li>
          <p>toronto <span>|</span> ca</p>
          <ul class="list-group">
            <li>+374 11 388 633</li>
            <li class="email">info@zuckandberg.com</li>
            <li>moskovyan 28 | apt. 168</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="soc-nets">
      <ul [ngClass]="screenSize >= 992 ? 'list-group list-group-horizontal' : 'list-group list-group-vertical'">
        <li><a href="#">facebook</a></li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">behance</a></li>
        <li><a href="#">vimeo</a></li>
      </ul>
    </div>
  </div>
</div>
