<div class="container-fluid">
  <div class="row">
    <div class="contact-description">
      <span>contact</span>
    </div>
    <div class="contact-text">
      <p>
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
        know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And we
        are all about we. In fact.
      </p>
    </div>
    <div class="locations">
      <ul class="list-group list-group-horizontal city-blocks">
        <li>
          <p>yerevan | am</p>
          <ul class="list-group">
            <li>+374 11 388 633</li>
            <li>info@zuckandberg.com</li>
            <li>moskovyan 28 | apt. 168</li>
          </ul>
        </li>
        <li>
          <p>toronto | ca</p>
          <ul class="list-group">
            <li>pending ...</li>
            <li>pending ...</li>
            <li>pending ...</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="social">
      <span>social</span>
    </div>
    <div class="soc-nets">
      <ul class="list-group">
        <li><a href="#">facebook</a></li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">behance</a></li>
        <li><a href="#">vimeo</a></li>
      </ul>
    </div>
  </div>
</div>
