<div class="container-fluid general">
  <div class="row">
    <div class="submit-description">
      <p class="page-header">submit cv / portfolio</p>
    </div>
    <div class="submit-text w-100">
      <p>
        Here is your chance to wow us. Submit your CV/Portfolio and make sure you tell us everything we need to know.
      </p>
    </div>
    <div class="vacancies-buttons">
      <ul>
        <li *ngFor="let work of workButtons">
          <button [ngClass]="work.focused ? 'order-type-focused' : 'order-type'" (click)="typeButtons(work.position)">{{work.position}}</button>
        </li>
      </ul>
      <div *ngIf="required">
        <p class="text-danger">choose the type, required!</p>
      </div>
    </div>
    <form #form class="submit-form" [formGroup]="submitForm" (submit)="submit()">
      <mat-form-field class="submit-full-width">
        <input formControlName="NAME" matInput placeholder="name*">
        <mat-error *ngIf="submitForm.controls.NAME.invalid && showInvalids">Required field</mat-error>

      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input matInput formControlName="LAST_NAME" placeholder="surname*">
        <mat-error *ngIf="submitForm.controls.LAST_NAME.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <!--<div class="slider-info">
        <span>expected salary (amd) ≈</span>
      </div>
      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>-->
      <mat-form-field class="submit-full-width">
        <input type="number" matInput formControlName="salary" placeholder="expected salary (amd) ≈">
        <mat-error *ngIf="submitForm.controls.salary.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input type="email" matInput formControlName="email" placeholder="email*">
        <mat-error *ngIf="submitForm.controls.email.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input type="number" formControlName="phoneNumber" matInput placeholder="phone">
        <mat-error *ngIf="submitForm.controls.phoneNumber.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <div class="input-file" #cv>
        <mat-form-field class="submit-full-width">
          <input formControlName="link" [value]="fileAttached1 !== '' ? fileAttached1 : submitForm.controls.link.value" matInput placeholder="cv">
          <mat-error *ngIf="submitForm.controls.link.invalid && showInvalids">cv required</mat-error>
        </mat-form-field>
        <div class="attach">
          <div></div>
          <input (change)="onFileChange($event, 'fileCv')" type="file" >
        </div>
      </div>
      <div class="input-file" #portfolio>
        <mat-form-field class="submit-full-width portfolio">
          <input matInput formControlName="portfolio" [value]="fileAttached2 !== '' ? fileAttached2 : submitForm.controls.portfolio.value" placeholder="portfolio">
          <mat-error *ngIf="submitForm.controls.portfolio.invalid && showInvalids">portfolio required</mat-error>
        </mat-form-field>
        <div class="attach">
          <div></div>
          <input (change)="onFileChange($event, 'filePortfolio')" type="file" >
        </div>
      </div>
      <mat-form-field class="submit-full-width">
        <textarea rows="5" matInput formControlName="motivation" placeholder="motivation letter"></textarea>
      </mat-form-field>
      <div class="submit-button">
        <button type="submit">
          send to zuck
        </button>
      </div>
    </form>
  </div>
</div>
