<div class="container-fluid general">
  <div class="row">
    <div class="submit-description">
      <p class="page-header">submit cv / portfolio</p>
    </div>
    <div class="submit-text w-100">
      <p>
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
        know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And we
        are all about we. In fact.
      </p>
    </div>
    <div class="vacancies-buttons">
      <ul>
        <li>
          <button [class]="strategy" (click)="typeButtons('graphic designer')">graphic designer</button>
        </li>
        <li>
          <button [class]="integrated" (click)="typeButtons('copywriter')">copywriter</button>
        </li>
        <li>
          <button [class]="digital" (click)="typeButtons('project manager')">project manager</button>
        </li>
      </ul>
      <div *ngIf="required">
        <p class="text-danger">choose the type, required!</p>
      </div>
    </div>
    <form class="submit-form" [formGroup]="submitForm" (submit)="submit()">
      <mat-form-field class="submit-full-width">
        <input formControlName="name" matInput placeholder="name*">
        <mat-error *ngIf="submitForm.controls.name.invalid && showInvalids">Required field</mat-error>

      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input matInput formControlName="surname" placeholder="surname*">
        <mat-error *ngIf="submitForm.controls.surname.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <!--<div class="slider-info">
        <span>expected salary (amd) ≈</span>
      </div>
      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>-->
      <mat-form-field class="submit-full-width">
        <input type="number" matInput formControlName="salery" placeholder="expected salary (amd) ≈">
        <mat-error *ngIf="submitForm.controls.salery.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input type="email" matInput formControlName="email" placeholder="email*">
        <mat-error *ngIf="submitForm.controls.email.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input type="number" formControlName="phoneNumber" matInput placeholder="phone">
        <mat-error *ngIf="submitForm.controls.phoneNumber.invalid && showInvalids">Required field</mat-error>
      </mat-form-field>
      <div class="input-file">
        <mat-form-field class="submit-full-width">
          <input formControlName="link" [value]="submitForm.value.fileCv" matInput placeholder="cv (attach or put the link)*">
          <mat-error *ngIf="submitForm.controls.link.invalid && showInvalids">cv required</mat-error>
        </mat-form-field>
        <div class="attach">
          <div></div>
          <input formControlName="fileCv" type="file" >
        </div>
      </div>
      <div class="input-file" *ngIf="showPortfolio">
        <mat-form-field class="submit-full-width" >
          <input matInput formControlName="portfolio" [value]="submitForm.value.filePortfolio" placeholder="portfolio (attach or put the link)*">
          <mat-error *ngIf="submitForm.controls.portfolio.invalid && showInvalids">portfolio required</mat-error>
        </mat-form-field>
        <div class="attach">
          <div></div>
          <input formControlName="filePortfolio" type="file" >
        </div>
      </div>
      <mat-form-field class="submit-full-width">
        <textarea rows="5" matInput formControlName="motivation" placeholder="motivation letter"></textarea>
      </mat-form-field>
      <div class="submit-button">
        <button type="submit">
          send to zuck
        </button>
      </div>
    </form>
  </div>
</div>
