.order-description {
  width: 100%;
  margin: 81px 0 100px;
}

.submit-text {
  margin: 0 8% 50px;

  p {
    line-height: 1.6rem;
    font-size: 20px;
    font-family: Montserrat-Regular, serif;
      span {
        font-family: Montserrat-ExtraBold, serif;
      }
  }
}

.submit-form {
  margin: 0 8%;
  width: 100%;
}

.submit-full-width {
  margin-bottom: 50px;
  width: 100%;
  font-size: 20px;
  font-family: Montserrat-Regular, serif;
}

.slider-info {
  margin-bottom: 12px;

  span {
    font-size: 16px;
    font-family: Montserrat-Medium, serif;
  }
}

ng5-slider {
  margin-bottom: 50px;
}

ng5-slider ::ng-deep .ng5-slider-pointer {
  width: 12px !important;
  height: 12px !important;
  top: -5px !important;
  background-color: #ffffff;
  border: 1px solid #000000;
}

ng5-slider ::ng-deep .ng5-slider-ceil {
  visibility: hidden !important;
}

ng5-slider ::ng-deep .ng5-slider-selection {
  background: #535353;
}

ng5-slider ::ng-deep .ng5-slider-pointer:after {
  content: none;
}

.submit-button {
  margin-bottom: 150px;

  button {
    font-size: 18px;
    font-family: Montserrat-Bold, serif !important;
    width: 314px;
    height: 63px;
    background: #fff;
    border: 0;
    box-shadow: inset 0 0 0 1px #707070;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }

  button:hover {
    text-decoration: underline;
  }
}

.vacancies-buttons {
  width: 100%;
  margin: 0 8% 80px 8%;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0 20px 20px 0;
      display: inline-block;

      button {
        height: 41px;
        border: 0;
        border-radius: 100px;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        padding: 0 24px;
        width: max-content;
        font-family: Montserrat-Regular, serif;
        box-shadow: inset 0 0 0 1px #707070;
      }
      button:hover {
        text-decoration: underline;
      }
    }
  }

  .order-type {
    opacity: 0.5 !important;
    transition: 0.5s;
  }

  .order-type-focused {
    text-decoration: underline;
    opacity: 1 !important;
    transition: 0.5s;
    box-shadow: inset 0 0 0 1px #707070 !important;
  }
}


@media only screen and(min-width: 992px) {
  .order-description {
    position: relative;
    width: 100%;
    margin: 0;
  }

  .submit-text {
    margin: 6.593% 0;

    p {
      line-height: 1.6rem;
      font-size: 17px;
      font-family: Montserrat-Regular, serif;

    }
  }


  .order-type {
    opacity: 0.5 !important;
    transition: 0.3s;
  }
  .order-type-focused {
    opacity: 1 !important;
    transition: 0.3s;
    box-shadow: inset 0 0 0 1px #707070 !important;
  }

  .submit-form {
    min-width: 25vw;
    max-width: 54vw;
    width: 100%;
    margin: 0;
  }
  .submit-full-width {
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat-Regular, serif;
  }
  .slider-info {
    margin-bottom: 12px;

    span {
      font-size: 16px;
      font-family: Montserrat-Medium, serif;
    }
  }
  ng5-slider {
    margin-bottom: 50px;
  }
  ng5-slider ::ng-deep .ng5-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -5px !important;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  ng5-slider ::ng-deep .ng5-slider-ceil {
    visibility: hidden !important;
  }
  ng5-slider ::ng-deep .ng5-slider-selection {
    background: #535353;
  }
  ng5-slider ::ng-deep .ng5-slider-pointer:after {
    content: none;
  }
  .submit-button {
    margin-bottom: 19.8%;

    button {
      font-size: 18px;
      font-family: Montserrat-Bold, serif !important;
      width: 205px;
      height: 63px;
      background: #fff;
      border: 0;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
      box-shadow: inset 0 0 0 1px #707070;
    }
  }
  .vacancies-buttons {
    width: 100%;
    margin: 0 0 3.643% 0

  }
}


mat-form-field ::ng-deep .mat-input-element {
  caret-color: #707070 !important;
}

mat-form-field ::ng-deep .mat-form-field-label {
  color: #707070 !important;
}


::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  mat-form-field {
    .mat-hint, input, ::placeholder, .mat-form-field-label {
      color: white;
    }
  }
}


mat-form-field ::ng-deep .mat-form-field-ripple {
  background-color: #707070 !important;
}

mat-form-field ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: #f44336 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
