<div class="container-fluid">
  <div class="row">
    <div class="z-description">
      <p>ZԵՐՈՒՆԴ</p>
    </div>
    <div class="z-banner">
      <img *ngIf="screenSize > 500" src="../../../assets/zerundAssets/fin2.png" alt="">
      <img *ngIf="screenSize <= 500" src="../../../assets/agencyAssets/mbfin2.png" alt="">
    </div>
    <div class="z-content-1 border-left">
      <p>
        Just another fancy name or generation that comes to change the world...
        Before going forward to the mission of Z-generation (next Gen Z), shortly about the origin. Gen Z
        is a demographic group born between 1995 and 2005. According to numerous statistics, in 2025
        they will make up the majority of the consumer population, about 85%. Today, many brands from
        the world are developing their strategy in such a way as to please Gen Z. <br> <br>
        Remarkable thing is that Gen Z is committed to globalization. They are against all kinds of
        discrimination, consistent concerning the environment (as evidenced by the protocols on plastics)
        and generally are more active in social networks. But that doesn't mean they depend on social media.
      </p>
    </div>
    <div class="z-content-head-1">
      <p>
        On the contrary, they use the Internet for self-education, earning money and, finally, for self-expression and
        voicing problems.
      </p>
    </div>
    <div class="z-content-2 border-left">
      <p>
        On the contrary, they use the Internet for self-education, earning money and, finally, for self-expression and
        voicing problems. <br>
        Gen Z aims to work at an early age in order not to be financially dependent on parents. In #Weee
        there are also representatives of Gen Z-about 30%, and many projects are assigned to them from
        the first stage of creation and development of the idea. Gen Z has its unique worldview and the
        ability to give its comments to any phenomenon, which makes it possible in specific cases to
        accurately achieve the desired result.
      </p>
    </div>
    <div class="z-carousel-1 bg-secondary">
    </div>
    <div class="z-content-1 border-left">
      <p>
        On the contrary, they use the Internet for self-education, earning money and, finally, for self-expression and
        voicing problems. <br> <br>
        Gen Z aims to work at an early age in order not to be financially dependent on parents. In #Weee
        there are also representatives of Gen Z-about 30%, and many projects are assigned to them from
        the first stage of creation and development of the idea. Gen Z has its unique worldview and the
        ability to give its comments to any phenomenon, which makes it possible in specific cases to
        accurately achieve the desired result.
      </p>
    </div>
    <div class="z-content-head-1">
      <p>
        On the contrary, they use the Internet for self-education, earning money and, finally, for self-expression and
        voicing problems.
      </p>
    </div>
    <div class="z-content-3 border-left">
      <p>
        As for the main topics and content in general, they evaluate the real and the minimal. No
        exaggeration, no artificiality. Moreover, if the ad contains storytelling, it will be uniquely rated by Gen Z.
        Also, it is crucial to mention cases of social responsibility. There is a tendency towards sincerity. <br> <br>
        Big brands build their content with more natural lifestyle techniques, which is evaluated by Gen Z. Gen Z
        doesn't want to talk about changing the world, they're going to do it. What is remaining? To conquer their
        hearts with the relevant communications...
      </p>
    </div>
    <div class="z-content-head-1">
      <p>
        Big brands build their content with more natural lifestyle techniques, which is evaluated by Gen Z.
      </p>
    </div>
    <div class="z-carousel-2">
      <ul>
        <li>
          <div class="carousel-img">
            <img src="../../../assets/zerundAssets/mobimage242x.png" alt="logo">
          </div>
        </li>
        <li>
          <div class="carousel-img">
            <img src="../../../assets/zerundAssets/mobimage252x.png" alt="logo">
          </div>
        </li>
      </ul>
    </div>
    <div class="publication-date">
      <div><span>publication date</span></div>
      <div><span>20 aug 2019</span></div>
    </div>
    <div class="share">
      <span>share this article with frinds</span>
    </div>
    <div class="social">
      <ul class="list-group">
        <li>via instagram</li>
        <li>via insta message</li>
        <li>via facebook</li>
        <li>via messenger</li>
        <li>via viber</li>
        <li>via whats app</li>
      </ul>
    </div>
  </div>
</div>
