@media only screen and(min-width: 300px) {

  .z-description {
    width: 100%;
    margin: 12.1vh 0 150px;

    p {
      font-family: Montserrat-Black, serif;
      font-size: 30px;
      letter-spacing: 2px;
      font-weight: 900;
    }
  }

  .z-description p, .z-content-1 p, .z-content-2 p, .z-content-3 p, .z-content-head-1 p, .z-content-head-2 p, .publication-date, .share, .social {
    margin: 0 30px;
  }

  .z-banner {
    margin: 0 0 50px 0;
    img {
      width: 100%;
    }
  }

  .z-content-1, .z-content-2, .z-content-3, .z-content-head-1 {
    margin-bottom: 50px;
  }


  .z-content-1 p, .z-content-2 p, .z-content-3 p {
    line-height: 18px;
    font-size: 15px;
    font-family: Montserrat-Regular, serif;
  }

  .z-content-head-1 {
    p {
      padding-top: 50px;
      font-family: Montserrat-Medium, serif;
      font-size: 20px;
      background: url("../../../assets/zerund-assets/iconmonstr-quote-3.svg") no-repeat;
      line-height: 24px;
    }
  }


  .z-carousel-1 {
    height: 211px;
    width: 100%;
    margin: 58px 0 50px 0;
  }

  .z-carousel-2 {
    height: 378px;
    width: 100%;
    margin-bottom: 50px;
  }

  .publication-date {
    margin-bottom: 163px;
    width: 100%;

    div:first-child {
      margin-bottom: 20px;

      span {
        font-size: 15px;
        font-family: Montserrat-ExtraBold, serif;
      }
    }

    div:last-child {
      span {
        font-size: 15px;
        font-family: Montserrat-Regular, serif;
      }
    }
  }

  .share {
    margin-bottom: 50px;
    width: 100%;
    span {
      font-family: Montserrat-Black, serif;
      font-size: 30px;
    }
  }

  .social {
    margin-bottom: 130px;
    ul li {
      font-size: 20px;
      font-family: Montserrat-Bold, serif;
      margin-bottom: 20px;
    }
  }

  .z-carousel-2 {
    width: 100%;
    margin-bottom: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    ul {
      width: 565px;
      padding: 0;
      margin-left: 30px;
      li {
        margin-right: 30px;
        float:left;
        width: 252px;
        .carousel-img {
          height: 252px;
          width: 252px;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .z-carousel-2::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and(min-width: 500px) {

  .z-description {
    width: 100%;
    margin: 12.1vh 0 150px;

    p {
      font-family: Montserrat-Black, serif;
      font-size: 30px;
      letter-spacing: 2px;
      font-weight: 900;
    }
  }
}

@media only screen and(min-width: 992px) {

  .z-description {
    position: relative;
    width: 100%;
    margin: 0;

    p {
      position: absolute;
      top: 8vh;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
      letter-spacing: 2px;
      font-weight: 900;
    }
  }

  .z-banner {
    margin: 291px 0 150px;
  }

  .z-content-1 {
    margin-bottom: 163px;
  }

  .z-content-2 {
    margin-bottom: 150px;
  }

  .z-content-3 {
    margin-bottom: 135px;
  }

  .z-content-1 p, .z-content-2 p, .z-content-3 p {
    padding: 0 23% 0 100px;
    margin: 0;
    line-height: 1.6rem;
    font-size: 20px;
    font-family: Montserrat-Regular, serif;
  }

  .z-content-head-1 {
    p {
      padding: 0 247px 0 50px;
      margin: 0;
      line-height: inherit;
      font-family: Montserrat-Regular, serif;
      font-size: 40px;
      background: url("../../../assets/zerund-assets/iconmonstr-quote-3.svg") no-repeat;
    }
  }

  .z-content-head-1 {
    margin-bottom: 146px;
  }

  .z-carousel-1 {
    height: 811px;
    width: 100%;
    margin: 58px 0 50px 0;
  }

  .z-carousel-2 {
    height: 828px;
    width: 100%;
    margin-bottom: 50px;
  }

  .publication-date {
    margin-bottom: 300px;
    width: 100%;

    div:first-child {
      margin-bottom: 20px;

      span {
        font-size: 20px;
        font-family: Montserrat-ExtraBold, serif;
      }
    }

    div:last-child {
      span {
        font-size: 20px;
        font-family: Montserrat-Regular, serif;
      }
    }
  }

  .share {
    margin-bottom: 150px;
    width: 100%;
    span {
      font-family: Montserrat-Black, serif;
      font-size: 40px;
    }
  }

  .social {
    margin-bottom: 280px;
    ul li {
      font-size: 20px;
      font-family: Montserrat-Bold, serif;
      margin-bottom: 20px;
    }
  }
}
