footer {
    height: 171px;
    background-color: #E8E8E8;
    div {
        margin-left: 225px;
        padding-top: 58px;

        p {
            color: #000;
            font-size: 13px;
        }

    }

}
