<footer *ngIf="screenSize > 992" class="container-fluid ">
    <div>
        <!--<img src="../../../assets/zuck-logo-grey.svg" alt="">
        <p >© 2017–2020 Zuck&Berg Creative Agency</p>-->
    </div>
</footer>
<footer *ngIf="screenSize < 992 && router.url !== '/agency/vacancy'" class="text-center">
  <!--<img src="../../../assets/zuck-logo-grey.svg" alt="">-->
<!--  <button>
    make an order
  </button>-->
</footer>
<footer *ngIf="screenSize < 992 && router.url === '/agency/vacancy'" class="text-center portfolio-button">
  <!--<img src="../../../assets/zuck-logo-grey.svg" alt="">-->
<!--  <button>
    submit cv / portfolio
  </button>-->
</footer>
