nav {
  width: 30%;
  .logo {
    top: 100px;
    left: 100px;
    width: 55px;
    height: 21px;
    position: absolute;
  }

  .menu {
    top: 90vh;
    left: 100px;
    position: absolute;
    img {
      height: 25px;
      width: 25px;
    }
  }
}
