nav {
  width: 30%;
  .logo {
    top: 10%;
    left: 100px;
    width: 55px;
    height: 21px;
    position: fixed;
  }

  .menu {
    top: 90vh;
    left: 100px;
    position: fixed;
    .close {
      width: 32px;
      height: 32px;
      opacity: 1 !important;
    }
    .close:before, .close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 1px;
      background-color: #000000;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }
}
.menu-bar {
  height: 100vh;
  width: 17%;
}

.content {
  width: 83%;
}
.order-button {
  position: fixed;
  top: 88.6vh;
  right: 3%;
  button {
    font-size: 18px;
    font-family: Montserrat-Bold, serif !important;
    width: 205px;
    height: 63px;
    background: #fff;
    border: 1px solid #707070;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }
}
