nav {
  width: 30%;
  .logo {
    top: 100px;
    left: 100px;
    width: 55px;
    height: 21px;
    position: absolute;
  }

  .menu {
    top: 90vh;
    left: 100px;
    position: absolute;
    img {
      height: 25px;
      width: 25px;
    }
  }
}
.menu-bar, .content {
  display: inline-block;
}
.menu-bar {
  width: 13.2%;
}
.order-button {
  position: fixed;
  top: 88vh;
  right: 4%;
  button {
    width: 200px;
    height: 60px;
    background: #fff;
    border: 1px solid #707070;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }
}
