<div class="container-fluid general">
  <div class="row">
    <div class="agency-description">
      <p class="page-header">who we are.</p>
    </div>
    <div *ngIf="screenSize < 992" class="banner w-100">
      <img class="w-100" src="../../../assets/agencyAssets/mbRectangle 45x.png" alt="">
    </div>
    <div *ngIf="screenSize > 992" class="agency-info">

      <div>

        <p class="agency-text content-text mb-0">
          We are all about <span>unpredictable work with predictable results.</span> So, have no expectations about what we’ll do. Instead, have
          very specific expectations about what we’ll achieve. <br>
          We are an <span>independent</span> agency. From groups, networks, traditions and limitations.
        </p>
      </div>
    </div>
    <div *ngIf="screenSize < 992" class="agency-info">
      <div class="agency-info-header">
        <p class="subheader">
          We are ad people.
        </p>
      </div>
      <div>
        <p class="content-text">
          We are people who value people. We are an independent creative agency that gets along with
          big corporations, tiny start-ups and global brands. With a bunch of different generations under
          one roof, we’ve created an ecosystem that creates promises for brands and delivers these
          promises with stand-out communications.
        </p>
      </div>

    </div>
    <div *ngIf="screenSize > 992">
      <img class="w-100" src="../../../assets/agencyAssets/fin2.png" alt="">
    </div>

    <div class="services w-100">
      <p class="content-heading">what we do.</p>
    </div>
    <div class="agency-info-header">
      <p>
        We make ads. We grow brands.
      </p>
    </div>
    <div class="w-100">
      <p class="content-text" *ngIf="screenSize > 992">
        We believe that <span class="bold-text">safe can be riskier than risky.</span> And risky can be safer than safe.
        <br>
        All that matters is – does it solve the problem?
        <br>
        Here are some things we do to help brands solve problems.
      </p>
      <p class="content-text" *ngIf="screenSize < 992">
        We believe that <span class="bold-text">safe can be riskier than risky.</span> And risky can be safer than safe.

        All that matters is – does it solve the problem?

        Here are some things we do to help brands solve problems.
      </p>
    </div>
    <div class="agency-buttons">
      <ul>
        <li>
          <button class="work-button-creative">strategy</button>
        </li>
        <li>
          <button class="work-button-creative">design</button>
        </li>
        <li>
          <button class="work-button-creative">video</button>
        </li>
        <li>

          <button class="work-button-creative">digital</button>
        </li>
        <li>
          <button class="work-button-creative">integrated</button>
        </li>
        <li>
          <button class="work-button-creative">non-standard</button>
        </li>
      </ul>
    </div>
    <div class="agency-review w-100">
      <p class="content-heading">reviews</p>
    </div>
    <div *ngIf="screenSize < 991" class="agency-carousel">
      <ul>
        <li>
          <div class="image">
            <img src="../../../assets/agencyAssets/Rectangle17@2x.png" alt="">
          </div>
          <p class="name">Lilit Matevosyan</p>
          <p class="position">PMI Marketing Head</p>
          <p class="content-text"> I know, I know. It's supposed to be about "us", not "we". But we're always ready to
            break a
            rule or two,
            especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know,
            I
            know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And
            we
            are all about we. In fact.</p>
        </li>
        <li>
          <div class="image">
            <img src="../../../assets/agencyAssets/Rectangle18@2x.png" alt="">
          </div>
          <p class="name">Samuel Jecson</p>
          <p class="position">President of Amazon</p>
          <p class="content-text">I know, I know. It's supposed to be about "us", not "we". But we're always ready to
            break a
            rule or two,
            especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know,
            I know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And
            we are all about we. In fact.</p>
        </li>
      </ul>
    </div>
    <div *ngIf="screenSize > 992" class="first-carousel ">
      <ul class="myPoint asd" NguCarouselPoint>
        <li *ngFor="let j of firstCarousel.pointNumbers; let i = index" [class.active]="j==firstCarousel.activePoint"
            (click)="move(i)">
          <div></div>
        </li>
      </ul>
      <ngu-carousel #firstCarousel (onMove)="closeTexts($event)" [inputs]="carouselConfig" [dataSource]="firstCarouselItems">
        <div *nguCarouselDef="let item;" class="item">
          <div class="image">
            <img [src]="item.img" alt="">
          </div>
          <div class="carousel-item-content">
            <div class="carousel-item-margin">
              <div class="title">
                <p class="company">{{item.name}}</p>
                <p class="name">{{item.position}} | {{item.company}}</p>
              </div>
              <p [innerHTML]="item.text" class="content-text shown-text"></p>
              <span *ngIf="item.shownText && item.showMore" class="hover-span"
                    (click)="item.shownText = !item.shownText; carouselContent(firstCarousel.activePoint)">show more</span>
              <span *ngIf="!item.shownText && item.showMore" class="hover-span"
                    (click)="item.shownText = !item.shownText; carouselContent(firstCarousel.activePoint)">show less</span>
            </div>
          </div>
        </div>

      </ngu-carousel>
    </div>
    <div class="agency-partners w-100">
      <p class="content-heading">who we work with.</p>
    </div>
    <div class="w-100 agency-partners-subheader">
      <p class="bold-text m-0">
        FROM GLOBAL BRANDS TO TINY START-UPS.
      </p>
    </div>
    <div class="agency-brands-header partners">
      <p>
        Size means nothing. Ambition means everything.
        <br>
        We are crazy ambitious. And we strive to work with brands that are just as ambitious.
        <br>
        Or preferably, even more.
      </p>
    </div>
    <div *ngIf="screenSize > 992" class="agency-partner-logos">
      <ul class="logo-row">
        <li *ngFor="let u of firstRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul class="logo-row">
        <li *ngFor="let u of secondRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of thirdRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
    </div>

    <div *ngIf="screenSize < 992" class="agency-partner-logos-small w-100">
      <ul class="logo-row">
        <li class="small-logo">
          <img class="w-75" src="../../../assets/Logos/logo_undp.svg" alt="">
        </li>
        <li class="small-logo">
          <img class="w-75" alt="logo" src="../../../assets/Logos/logo_pmi.svg">
        </li>
      </ul>
    </div>
    <div class="w-100">
      <p class="content-heading">what we’re like.</p>
    </div>
    <div class="about-us-header">
      <p class="subheader">
        <span>Serious about work. Laughing about everything else.</span> The only thing we take lightly is things that aren’t work. Like writing this next sentence.
        Bubble wrap sounds nice.
        <br><br>
        <span>Ridiculously open-minded.</span> The only stereotype we uphold is the image of a copywriter chewing on a pencil with their feet on the table. The only
        discrimination we allow is the discrimination between good work and work that isn’t good.
        <br><br>
        <span>No Bullshit.</span>
        <br>
        No. Bullshit.
      </p>
    </div>

    <div *ngIf="screenSize < 992" class="second-carousel">
      <ngu-carousel [inputs]="secondCarouselConfigMobile" [dataSource]="secondCarouselItems">
        <div *nguCarouselDef="let item;" class="item">
          <div class="image">
            <img class="w-100" [src]="item" alt="">
          </div>
        </div>
      </ngu-carousel>
    </div>



    <div *ngIf="screenSize >= 992" class="second-carousel">
      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of secondCarousel.pointNumbers; let i = index"
            [class.active]="j==secondCarousel.activePoint"
            (click)="secondCarousel.moveTo(i)">
          <div></div>
        </li>
      </ul>
      <ngu-carousel #secondCarousel [inputs]="secondCarouselConfig" [dataSource]="secondCarouselItems">

        <div *nguCarouselDef="let item;" class="item">
          <div class="image">
            <div class="w-100"></div>
            <img class="w-100" [src]="item" alt="">
          </div>
        </div>

      </ngu-carousel>
    </div>
    <div *ngIf="screenSize < 992">
      <div class="vacancies-title">
        <p class="content-heading">vacancies</p>
      </div>
      <div class="vacancies-description">
        <p class="subheader">
          ZUCK IS PEOPLE.
        </p>
      </div>
      <div class="vacancies-text">
        <p class="content-text">
          And people are what we value the most. You don’t just have to be epic at what you do. You have to be epic at fitting in
          with Zuck. Got both covered? Then we can’t wait to hear from you.
        </p>
      </div>
      <div class="vacancies-buttons">
        <ul>
          <li>
            <button (click)="goToSubmit('graphic designer')" class="work-button-creative">graphic designer</button>
          </li>
          <li>
            <button (click)="goToSubmit('graphic designer intern')" class="work-button-creative">graphic designer
              intern
            </button>
          </li>
          <li>
            <button (click)="goToSubmit('copywriter')" class="work-button-design">copywriter</button>
          </li>
          <li>
            <button (click)="goToSubmit('account/project manager')" class="work-button-creative">account/project
              manager
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-100">
      <p class="content-heading">
        awards
      </p>
    </div>
    <div *ngIf="screenSize > 992" class="awards">
      <div class="awards-carousel">
        <ul>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-1.svg" alt="">
              <p>shortlist</p>
            </div>
          </li>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-2.svg" alt="">
              <p>shortlist x2</p>
            </div>
          </li>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-3.svg" alt="">
              <p>gold</p>
            </div>
          </li>
          <!--<li>
            <div class="agency-awards text-center">
              <img class="w-75" src="../../../assets/agencyAssets/image45.png" alt="">
              <p>gold</p>
            </div>
          </li>-->
          <!--<li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/image44.png" alt="">
              <p>silver</p>
            </div>
          </li>-->
        </ul>
        <!--<ul>
          <li class="mb-0">
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/image61.png" alt="">
              <p>silver</p>
            </div>
          </li>
          <li class="mb-0">
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/image42.png" alt="">
              <p>shortlist</p>
            </div>
          </li>
        </ul>-->
      </div>
    </div>

    <div *ngIf="screenSize < 992" class="awards w-100">
      <ul>
        <li>
          <img class="w-75" src="../../../assets/agencyAssets/award-1.svg" alt="logo">
        </li>
        <li>
          <img class="w-75" src="../../../assets/agencyAssets/award-2.svg" alt="logo">
        </li>
        <li>
          <img class="w-75" src="../../../assets/agencyAssets/award-3.svg" alt="logo">
        </li>
      </ul>
    </div>

    <div *ngIf="screenSize > 992">
      <div class="w-100">
        <p class="content-heading">vacancies</p>
      </div>
      <div class="vacancies-description">
        <p class="subheader">
          Our Art Director used to be a dentist.
        </p>
      </div>
      <div class="vacancies-text">
        <p class="content-text">
          Before we were WEEEE, we were many other things - a biologist, a human rights activist, a store manager,
          an
          Ecology PhD, a computer science student… We don’t care about your background. Take a look at our
          vacancies,
          and if you find something you’re good at, come join us.
        </p>
      </div>
      <div class="vacancies-buttons">
        <ul>
          <li>
            <button (click)="goToSubmit('graphic designer')" class="work-button-creative">graphic designer</button>
          </li>
          <li>
            <button (click)="goToSubmit('graphic designer intern')" class="work-button-creative">graphic designer
              intern
            </button>
          </li>
          <li>
            <button (click)="goToSubmit('copywriter')" class="work-button-design">copywriter</button>
          </li>
          <li>
            <button (click)="goToSubmit('account/project manager')" class="work-button-creative">account/project
              manager
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="w-100">
      <p class="content-heading">
        articles
      </p>
    </div>
    <div class="articles">
      <div class="article">
        <a class="d-inline-block" href="https://medium.com/@zuckandberg/a-study-in-silver-1904bdafa910" target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard4.png" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">A Study in Silver</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Apr 17, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block"
           href="https://medium.com/@zuckandberg/ideas-vs-covid-19-changing-marketing-because-of-the-pandemic-c21b4d59173d"
           target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard6.png" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">Ideas vs COVID-19: Changing marketing because of the pandemic</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Apr 15, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block"
           href="https://medium.com/@zuckandberg/how-do-you-make-social-responsibility-more-social-ffae2ce943ca"
           target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard5.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">HOW DO YOU MAKE SOCIAL RESPONSIBILITY MORE SOCIAL?</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Apr 9, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block"
           href="https://medium.com/@zuckandberg/project-management-when-project-is-a-human-f5b383e08011"
           target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard1.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">Project Management When “Project” is a Human</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Feb 22, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block" href="https://medium.com/@zuckandberg/tv-series-workplace-6b1cc3e5d7fd"
           target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard2.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">TV-Series @ Workplace</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Nov 11, 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block" href="https://medium.com/purchase-funnel-vol-z/purchase-funnel-vol-z-76689db765d3"
           target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard3.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">Purchase Funnel.Vol Z</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Sep 25, 2019</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
