@media only screen and(min-width: 300px) {
  .agency-description {
    width: 100%;
    margin: 81px 0 150px;
  }

  .agency-description p, .vacancies-description, .about-us, .agency-info-header, .about-us-header, .agency-partner-logos-small,
   .awards, .article-description {
    margin: 0 8%;
  }

  .agency-info {
    width: 100%;
    margin: 50px 0 100px 0;
  }

  .agency-buttons {
    margin-bottom: 150px;

    button {
      width: 133px;
      cursor: default;
    }

    .work-button-design {
      width: 121px;
    }
  }

  .subheader {
    line-height: 23px !important;
  }

  .agency-buttons, .vacancies-buttons {
    max-width: 86vw;

    ul {
      padding: 0;
      width: 100%;
      margin: 0 0 0 8%;

      li {
        margin-right: 20px;
        margin-bottom: 20px;
        display: inline-block;

        button {
          height: 41px;
          border: 2px solid #707070;
          border-radius: 100px;
          background: transparent no-repeat 0 0;
          font-size: 20px;
          padding: 0 25px;
          width: max-content;
          font-family: Montserrat-Regular, serif;
        }

      }
    }
  }
  .vacancies-description, .about-us-header, .agency-info-header {
    p {
      font-family: Montserrat-Bold, serif;
      font-size: 20px;
    }
  }

  .vacancies-buttons {
    margin-bottom: 130px;

    ul {
      width: 77vw;

      li {
        margin-bottom: 20px;

        button:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .agency-carousel {
    width: 100%;
    margin-bottom: 130px;
    overflow-x: scroll;
    overflow-y: hidden;

    ul {
      width: max-content;
      padding: 0;
      margin-left: 30px;

      li {
        padding-right: 30px;
        float: left;
        width: 77vw;

        .image img {
          width: 100%;
          margin-bottom: 20px;
        }

        p {
          margin: 0 25px 20px 0;
        }

        .name {
          font-size: 15px;
          font-family: Montserrat-Black, serif;
        }

        .position {
          font-size: 15px;
          font-family: Montserrat-SemiBold, serif;
        }

        .logo {
          margin-top: 30px;

          img {
            width: 25%;
          }
        }
      }
    }
  }
  .first-carousel {
    margin: 0 8%;
  }

  .agency-carousel::-webkit-scrollbar {
    display: none;
  }

  .second-carousel {
    margin-bottom: 150px;
  }

  .agency-partner-logos {
    position: relative;
    left: -30px;
    margin-bottom: 19.5%;

    ul {
      padding: 0;
      margin-bottom: 100px;

      li {
        display: inline-block;
        margin-right: 25px;
        width: 168px;
        text-align: center;
      }
    }
  }
  .agency-partner-logos ul:last-child {
    margin-bottom: 0;
  }
  .agency-partner-logos-small {
    position: relative;
    margin: 0 0 150px 0;

    ul {
      display: flex;
      margin: 0 8%;
      padding: 0;

      .small-logo {
        margin-right: 65px;
      }
    }
  }

  .awards {
    margin-bottom: 150px;

    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
        margin-right: 22px;
        width: 135px;
        height: 68px;
      }

      li:first-child img {
        width: 70%;
      }
    }
  }

  .articles {
    width: 100%;
    margin-bottom: 100px;

    .article {
      margin-bottom: 50px;

      .article-banner {
        margin-bottom: 10px;

        img {
          margin-bottom: 20px;
          width: 100%;
        }
      }

      .article-description {
        p {
          padding: 0;
          font-family: Montserrat-Black, serif;
          font-size: 15px;

          span {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}


@media only screen and(min-width: 600px) {

  .agency-info-header, .about-us-header, .vacancies-description {
    width: 100%;

    p {
      margin-bottom: 20px;
    }
  }


  .second-carousel {
    width: 100%;
    margin-bottom: 19.5%;
  }

}

@media only screen and(min-width: 992px) {
  .general {
    p {
      line-height: 1.6rem;
    }
  }
  .agency-description {
    margin: 0 0 13.4vh 0;
    position: relative;
    width: 100%;
  }
  .agency-description p, .about-us, .agency-info-header, .about-us-header, .vacancies-description, .agency-partner-logos-small,
   .awards, .article-description {
    margin: 0;
  }

  .agency-info {
    margin: 6.511% 0 6.511% 0;
  }

  .first-carousel {
    margin: 0 0 19.5% 0;
  }

  .vacancies-description, .about-us-header, .agency-info-header {
    p {
      font-family: Montserrat-Bold, serif;
      font-size: 18px;
    }
  }

  .agency-buttons {
    margin-top: 50px;
    margin-bottom: 19.5%;
  }

  .awards-carousel::-webkit-scrollbar {
    display: none;
  }

  .awards-carousel {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .awards {
    margin-bottom: 19.5%;

    .awards-carousel {
      ul {
        padding: 0;
        margin-left: 0;
        display: flex;

        li {
          margin-right: 12.1%;
          margin-bottom: 12.1%;
          width: unset;
          height: unset;

          .agency-awards {
            border: 1px solid black;
            padding: 9.25vw;
            position: relative;

            img {
              position: absolute;
              left: 50%;
              top: 50%;
              width: 44%;
              transform: translate(-50%, -50%);
            }

            p {
              font-size: 15px;
              font-family: Montserrat-Bold, serif;
              position: absolute;
              bottom: 5%;
              left: 50%;
              transform: translate(-50%, -50%);
              margin-bottom: 0;
            }
          }
        }

        li:last-child {
          margin-right: 6.7%;
        }
      }
    }
  }


  .agency-buttons, .vacancies-buttons {
    ul {
      margin: 0;
    }
  }

  .vacancies-buttons {
    margin-bottom: 19.5%;
  }

  .services {
    margin: 19.5% 0 0 0;
  }

  .articles {
    width: 100%;
    margin-bottom: 19.5%;

    .article:last-child {
      margin: 0;
    }

    .article {
      width: 100% !important;
      margin-bottom: 145px;
      margin-right: 0;

      .article-banner {
        width: 54.1vw;

      }

      .article-description {
        p {
          margin-bottom: 20px;
          font-size: 20px;
        }
      }

      .article-date {
        p {
          font-family: Montserrat-Regular, serif;
          font-size: 20px;
        }
      }
    }
  }
  .first-carousel {
    .item {
      .carousel-item-content {
        .name {
          font-size: 25px;
          font-family: Montserrat-Black, serif;
        }

        .position {
          font-size: 18px;
          font-family: Montserrat-Bold, serif;
        }
        
        .content-text {
          width: 37%;
          margin: 0;
        }
      }
      .image {
        img {
          width: 22vw;
        }
      }
    }
  }
}

@media only screen and(min-width: 1100px) {
  .banner {
    img {
      width: 86vw;
    }
  }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and(min-width: 1200px) {

  .agency-carousel {
    width: 100%;
    margin-bottom: 251px;

    ul {
      margin: 0;
    }
  }

  .articles {
    width: 100%;

    .article {
      .article-description {
        p {
          padding: 0;
          font-family: Montserrat-Black, serif;
        }
      }
    }
  }
}

@media only screen and(min-width: 1200px) {
  .awards {
    .awards-carousel {
      ul {
        li {
          .agency-awards {
            padding: 7.25vw;
          }
        }
      }
    }
  }
}

@media only screen and(min-width: 1600px) {
  .banner {
    img {
      width: 89vw;
    }
  }
  }

  .vacancies-description, .about-us-header, .agency-info-header {
    p {
      font-family: Montserrat-Bold, serif;
      font-size: 18px;
    }
  }

  .first-carousel {
    .item {
      .carousel-item-content {
        .name {
          font-size: 30px;
          font-family: Montserrat-Black, serif;
        }

        .position {
          font-size: 20px;
          font-family: Montserrat-Bold, serif;
        }
      }
    }
  }



/* Carousel Styles*/

.first-carousel {
  .item {
    box-sizing: border-box;
    height: fit-content;
    display: flex;

    .image {
      margin-right: 100px;
      align-self: center;

      img {
        width: 19.5vw;
      }
    }

    .carousel-item-content {
      align-self: center;
    }
  }

  .myPoint {
    top: -17%;
  }
}

.second-carousel {
  .myPoint {
    top: -7.5%;
  }
}

.first-carousel, .second-carousel {
  .tile {
    min-height: 200px;
    background-color: #ccc;
    background-size: cover !important;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }

  .myPoint {
    padding: 0;
    position: absolute;
  }

  .myPoint li {
    display: inline-block;
    border-radius: 50%;
    padding: 4px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.2;
    margin: 0 12px 0 3px;
    background-color: #000000;
    cursor: pointer !important;
  }

  .myPoint li.active {
    opacity: 0.6;
  }
}

.article-banner img:hover ~ .link-cursor {
  text-decoration: underline #000000;
}
