<div class="container-fluid general">
  <div class="row">
    <div class="agency-description">
      <p class="page-header">who we are.</p>
    </div>
    <div *ngIf="screenSize < 992" class="agency-info">
      <!-- <div class="agency-info-header">
        <p class="subheader">
          We are ad people.
        </p>
      </div> -->
      <div>
        <p class="content-text">
          We are all about <span class="bold-text">unpredictable work with predictable results.</span> So, have no
          expectations about what we’ll do. Instead, have
          very specific expectations about what we’ll achieve. <br>
          We are an <span class="bold-text">independent</span> agency. From groups, networks, traditions and
          limitations.
        </p>
      </div>
    </div>
    <div *ngIf="screenSize < 992" class="banner w-100">
      <img class="w-100" src="../../../assets/agencyAssets/mbRectangle 45x.png" alt="">
    </div>
    <div *ngIf="screenSize > 992" class="agency-info">

      <div>

        <p class="agency-text content-text mb-0">
          We are all about <span>unpredictable work with predictable results.</span> So, have no expectations about what
          we’ll do. Instead, have
          very specific expectations about what we’ll achieve. <br>
          We are an <span>independent</span> agency. From groups, networks, traditions and limitations.
        </p>
      </div>
    </div>

    <div *ngIf="screenSize > 992">
      <img class="w-100" src="../../../assets/agencyAssets/fin2.png" alt="">
    </div>

    <div class="services w-100">
      <p class="content-heading">what we do.</p>
    </div>
    <div class="agency-info-header">
      <p>
        We make ads. We grow brands.
      </p>
    </div>
    <div class="w-100">
      <p class="content-text" *ngIf="screenSize > 992">
        We believe that <span class="bold-text">safe can be riskier than risky.</span> And risky can be safer than safe.
        <br>
        All that matters is – does it solve the problem?
        <br>
        Here are some things we do to help brands solve problems.
      </p>
      <p class="content-text" *ngIf="screenSize < 992">
        We believe that <span class="bold-text">safe can be riskier than risky.</span> And risky can be safer than safe.

        All that matters is – does it solve the problem?

        Here are some things we do to help brands solve problems.
      </p>
    </div>
    <div class="agency-buttons">
      <ul>
        <li>
          <button class="work-button-creative">strategy</button>
        </li>
        <li>
          <button class="work-button-creative">design</button>
        </li>
        <li>
          <button class="work-button-creative">video</button>
        </li>
        <li>

          <button class="work-button-creative">digital</button>
        </li>
        <li>
          <button class="work-button-creative">integrated</button>
        </li>
        <li>
          <button class="work-button-creative">non-standard</button>
        </li>
      </ul>
    </div>
    <div class="agency-review w-100">
      <p class="content-heading">reviews</p>
    </div>

    <div *ngIf="screenSize < 991" class="agency-carousel">
      <ul #firstCarouselMobile>
        <li *ngFor="let review of mobileFirstCarouselItems; let i = index" class="review">
          <div class="image">
            <img [src]="review.img" alt="">
          </div>
          <p class="name">{{review.name}}</p>
          <p class="position">{{review.position}} | {{review.company}}</p>
          <p class="content-text"> {{review.text}}</p>
          <span *ngIf="review.shownText && review.showMore" class="hover-span"
            (click)="review.shownText = !review.shownText; carouselContent(i)">show more</span>
          <span *ngIf="!review.shownText && review.showMore" class="hover-span"
            (click)="review.shownText = !review.shownText; carouselContent(i)">show less</span>
        </li>
      </ul>
    </div>

    <div *ngIf="screenSize > 992" class="first-carousel ">
      <ul class="myPoint" NguCarouselPoint>
        <li *ngFor="let j of firstCarousel.pointNumbers; let i = index" [class.active]="j==firstCarousel.activePoint"
          (click)="move(i)">
          <div></div>
        </li>
      </ul>
      <ngu-carousel #firstCarousel (onMove)="closeTexts($event)" [inputs]="carouselConfig"
        [dataSource]="firstCarouselItems">
        <div *nguCarouselDef="let item;" class="item">
          <div class="image">
            <img [src]="item.img" alt="">
          </div>
          <div class="carousel-item-content">
            <div class="carousel-item-margin">
              <div class="title">
                <p class="company">{{item.name}}</p>
                <p class="name">{{item.position}} | {{item.company}}</p>
              </div>
              <p [innerHTML]="item.text" class="content-text shown-text"></p>
              <span *ngIf="item.shownText && item.showMore" class="hover-span"
                (click)="item.shownText = !item.shownText; carouselContent(firstCarousel.activePoint)">show more</span>
              <span *ngIf="!item.shownText && item.showMore" class="hover-span"
                (click)="item.shownText = !item.shownText; carouselContent(firstCarousel.activePoint)">show less</span>
            </div>
          </div>
        </div>

      </ngu-carousel>
    </div>
    <div class="agency-partners w-100">
      <p class="content-heading">who we work with.</p>
    </div>
    <div class="w-100 agency-partners-subheader">
      <p class="bold-text">
        from global brands to tiny startups.
      </p>
    </div>
    <div class="agency-brands-header partners">
      <p class="content-text">
        Size means nothing. Ambition means everything.
        <br *ngIf="screenSize >= 992">
        We are crazy ambitious. And we strive to work with brands that are just as ambitious.
        <br *ngIf="screenSize >= 992">
        Or preferably, even more.
      </p>
    </div>
    <div *ngIf="screenSize > 992" class="agency-partner-logos">
      <ul class="logo-row">
        <li *ngFor="let u of partners.firstRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul class="logo-row">
        <li *ngFor="let u of partners.secondRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of partners.thirdRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
    </div>

    <div *ngIf="screenSize < 992" class="agency-partner-logos-small w-100">
      <ul>
        <li *ngFor="let u of mobilePartners.firstRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of mobilePartners.secondRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of mobilePartners.thirdRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of mobilePartners.forthRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of mobilePartners.fifthRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
    </div>
    <div class="w-100">
      <p class="content-heading">what we’re like.</p>
    </div>
    <div class="about-us-header w-100">
      <p class="subheader content-text">
        <span class="bold-text">Serious about work. Laughing about everything else.</span> The only thing we take
        lightly is things that aren’t work. Like writing this next sentence.
        Bubble wrap sounds nice.
        <br><br>
        <span class="bold-text">Ridiculously open-minded.</span> The only stereotype we uphold is the image of a
        copywriter chewing on a pencil with their feet on the table. The only
        discrimination we allow is the discrimination between good work and work that isn’t good.
        <br><br>
        <span class="bold-text">No Bullshit.</span>
        <br>
        No. Bullshit.
      </p>
    </div>

    <ngx-slick-carousel *ngIf="screenSize < 992" class="carousel w-100 second-carousel" #slickModal="slick-carousel" [config]="mobileSlideConfig">
      <div ngxSlickItem *ngFor="let slide of mobileSecondCarouselItems" class="slide">
        <img src="{{ slide }}" alt="" width="100%">
      </div>
    </ngx-slick-carousel>

    <ngx-slick-carousel *ngIf="screenSize >= 992" class="carousel second-carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let slide of secondCarouselItems" class="slide">
        <img src="{{ slide }}" alt="" width="100%">
      </div>
    </ngx-slick-carousel>

    <div class="w-100">
      <p class="content-heading">
        awards
      </p>
    </div>
    <div *ngIf="screenSize > 992" class="awards">
      <div class="awards-carousel">
        <ul>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-1.svg" alt="">
              <p>shortlist</p>
            </div>
          </li>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-2.svg" alt="">
              <p>shortlist x2</p>
            </div>
          </li>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-3.svg" alt="">
              <p>gold</p>
            </div>
          </li>

        </ul>
        <ul>
          <li>
            <div class="agency-awards text-center">
              <img src="../../../assets/agencyAssets/award-4.svg" alt="">
              <p>silver x2</p>
            </div>
          </li>
        </ul>

      </div>
    </div>


    <div *ngIf="screenSize < 992" class="awards w-100">
      <ul>
        <li>
          <img src="../../../assets/agencyAssets/award-1.svg" alt="logo">
        </li>
        <li>
          <img src="../../../assets/agencyAssets/award-2.svg" alt="logo">
        </li>
        <li>
          <img src="../../../assets/agencyAssets/award-3.svg" alt="logo">
        </li>
        <li>
          <img src="../../../assets/agencyAssets/award-4.svg" alt="logo">
        </li>
      </ul>
    </div>

    <div *ngIf="screenSize < 992">
      <div class="vacancies-title">
        <p class="content-heading">vacancies</p>
      </div>
      <div class="vacancies-description">
        <p class="subheader">
          zuck is people.
        </p>
      </div>
      <div class="vacancies-text">
        <p class="content-text">
          And people are what we value the most. You don’t just have to be epic at what you do. You have to be epic at
          fitting in
          with Zuck. Got both covered? Then we can’t wait to hear from you.
        </p>
      </div>
      <div class="vacancies-buttons">
        <ul>
          <li>
            <button (click)="goToSubmit('graphic designer')" class="work-button-creative">graphic designer</button>
          </li>
          <li>
            <button (click)="goToSubmit('graphic designer intern')" class="work-button-creative">graphic designer
              intern
            </button>
          </li>
          <li>
            <button (click)="goToSubmit('copywriter')" class="work-button-design">copywriter</button>
          </li>
          <li>
            <button (click)="goToSubmit('account/project manager')" class="work-button-creative">account/project
              manager
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="screenSize > 992">
      <div class="w-100">
        <p class="content-heading">vacancies</p>
      </div>
      <div class="vacancies-description">
        <p class="subheader">
          zuck is people.
        </p>
      </div>
      <div class="vacancies-text">
        <p class="content-text">
          And people are what we value the most. You don’t just have to be epic at what you do. You have to be epic at
          fitting in
          with Zuck. Got both covered? Then we can’t wait to hear from you.
        </p>
      </div>
      <div class="vacancies-buttons">
        <ul>
          <li>
            <button (click)="goToSubmit('graphic designer')" class="work-button-creative">graphic designer</button>
          </li>
          <li>
            <button (click)="goToSubmit('graphic designer intern')" class="work-button-creative">graphic designer
              intern
            </button>
          </li>
          <li>
            <button (click)="goToSubmit('copywriter')" class="work-button-design">copywriter</button>
          </li>
          <li>
            <button (click)="goToSubmit('account/project manager')" class="work-button-creative">account/project
              manager
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="w-100">
      <p class="content-heading">
        articles
      </p>
    </div>
    <div class="articles">
      <div class="article">
        <a class="d-inline-block" href="https://medium.com/@zuckandberg/a-study-in-silver-1904bdafa910" target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard4.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">A Study in Silver</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Apr 17, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block"
          href="https://medium.com/@zuckandberg/ideas-vs-covid-19-changing-marketing-because-of-the-pandemic-c21b4d59173d"
          target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard6.png" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">Ideas vs COVID-19: Changing marketing because of the pandemic</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Apr 15, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block"
          href="https://medium.com/@zuckandberg/how-do-you-make-social-responsibility-more-social-ffae2ce943ca"
          target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard5.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">HOW DO YOU MAKE SOCIAL RESPONSIBILITY MORE SOCIAL?</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Apr 9, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block"
          href="https://medium.com/@zuckandberg/project-management-when-project-is-a-human-f5b383e08011"
          target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard1.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">Project Management When “Project” is a Human</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Feb 22, 2020</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block" href="https://medium.com/@zuckandberg/tv-series-workplace-6b1cc3e5d7fd"
          target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard2.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">TV-Series @ Workplace</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Nov 11, 2019</p>
            </div>
          </div>
        </a>
      </div>
      <div class="article">
        <a class="d-inline-block" href="https://medium.com/purchase-funnel-vol-z/purchase-funnel-vol-z-76689db765d3"
          target="_blank">
          <div class="article-banner">
            <img src="../../../assets/agencyAssets/Artboard3.jpg" class="link-cursor" alt="">
            <div class="article-description float-left link-cursor">
              <p class="link-cursor underline">Purchase Funnel.Vol Z</p>
            </div>
            <div *ngIf="screenSize > 992" class="article-date float-right">
              <p>Sep 25, 2019</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



