<div class="container-fluid">
  <div class="row">
    <div class="agency-description">
      <span>creative agency</span>
    </div>
    <div class="agency-info">
      <p class="agency-text">
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially
        when it comes to we.<br>
        We are Zuck&Berg. Zuck for short. And we are all about we. In fact, I'll type WE in all caps from here on, to
        show
        just how much WE <br>
        value "WE". WE value WE as much as Zuck values Berg, Hewlett values Packard and Procter values Gamble.
        <br><br>
        Ideas and solutions appear, when WE get together and start sharing. The first time WE got together and shared,
        Zuck&Berg was <br>
        born to reflect the meaning of WE. That this is what WE'd call WE wasn't questioned for a second. But now,
        every new meeting <br>
        starts with a discussion of our name. It's been more than two years since WE first surprised people, and from
        that very moment WE <br>
        decided that the surprises would never cease.
      </p>
    </div>
    <div class="banner">
      <img src="../../../assets/agency-assets/fin2@2x.png" alt="">
    </div>
    <div class="services">
      <span>services</span>
    </div>
    <div class="agency-text">
      <p>
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. <br>
        We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
        know. But we're always ready to break a rule or two, <br>
        especially when it comes to we. We are Zuck&Berg. And we are all about we. In fact.
      </p>
    </div>
    <div class="agency-buttons">
      <ul class="list-group list-group-horizontal">
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
        <li>
          <button class="work-button-design">Design</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
        <li>
          <button class="work-button-design">Design</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
        <li>
          <button class="work-button-design">Design</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
      </ul>
    </div>
    <div class="agency-review">
      <span>review</span>
    </div>
    <div class="agency-carousel bg-secondary">

    </div>
    <div class="agency-partners">
      <span>partners</span>
    </div>
    <div class="agency-partner-logos">
      <ul class="logo-row">
        <li *ngFor="let u of firstRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul class="logo-row">
        <li *ngFor="let u of secondRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
      <ul>
        <li *ngFor="let u of thirdRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
    </div>
    <div class="about-us">
      <span>weeeee...</span>
    </div>
    <div class="about-us-text">
      <p>
        Ideas and solutions appear, when WE get together and start sharing. The first time WE got together and shared,
        Zuck&Berg was <br>
        born to reflect the meaning of WE. That this is what WE'd call WE wasn't questioned for a second.
        That this is what WE'd call WE <br>wasn't questioned for a second. <br> <br>
        But now, every new meeting starts with adiscussion of our name. It's been more than two years since WE first
        surprised people, <br> and from that very moment WE decided that the surprises would never cease.
      </p>
    </div>
    <div class="agency-carousel-2 bg-secondary">
    </div>
    <div class="awards-title">
      <span>
        awards
      </span>
    </div>
    <div class="awards">
      <ul>
        <li *ngFor="let u of fourthRow">
          <img [src]="u" alt="logo">
        </li>
      </ul>
    </div>
    <div class="vacancies-title">
      <span>vacancies</span>
    </div>
    <div class="vacancies-text">
      <p>
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. <br>
        We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I know. But we're always ready to
        break a rule or two, <br>
        especially when it comes to we. We are Zuck&Berg. And we are all about we. In fact.
      </p>
    </div>
    <div class="vacancies-buttons">
      <ul>
        <li>
          <button routerLink="vacancy" class="work-button-creative">graphic designer</button>
        </li>
        <li>
          <button class="work-button-design">copywriter</button>
        </li>
        <li>
          <button class="work-button-creative">motion designer</button>
        </li>
        <li>
          <button class="work-button-design">senior digital marketing specialist</button>
        </li>
        <li>
          <button class="work-button-creative">senior digital marketing specialist</button>
        </li>
        <li>
          <button class="work-button-design">copywriter</button>
        </li>
        <li>
          <button class="work-button-creative">motion designer</button>
        </li>
      </ul>
    </div>
    <div class="agency-articles">
      <span>
        articles
      </span>
    </div>
    <div class="agency-carousel-3 bg-secondary">
      <button routerLink="zerund" class="btn btn-secondary"></button>
    </div>
  </div>
</div>
