<div class="container-fluid">
  <div class="row">
    <div class="vacancy-description">
      <span>graphic designer</span>
    </div>
    <div class="vacancy-info">
      <ul>
        <li>
          <div class="info-header">term</div>
          <div class="info-content">full-time</div>
        </li>
        <li>
          <div class="info-header">duration</div>
          <div class="info-content">permanent</div>
        </li>
        <li>
          <div class="info-header">location</div>
          <div class="info-content">Yerevan | Armenia</div>
        </li>
        <li>
          <div class="info-header">opening date</div>
          <div class="info-content">20 aug 2019</div>
        </li>
        <li>
          <div class="info-header">application deadline</div>
          <div class="info-content">20 sep 2019</div>
        </li>
      </ul>
    </div>
    <div class="vacancy-text">
      <p>
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
        know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And we
        are all about we. In fact.
      </p>
    </div>
    <div class="vacancy-header">
      <span>job responsibilities</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>Prepare work to be accomplished by gathering information and materials;</li>
        <li>Plan concept by studying the information and materials;</li>
        <li>Illustrate concept by designing rough layout of art and copy, regarding arrangement, size, type size and style, and related aesthetic concepts;</li>
        <li>Obtain approval of concept by submitting rough layout for approval;</li>
        <li>Prepare final layout by marking and pasting up finished copy and art;</li>
        <li>Maintain technical knowledge by attending design workshops, reviewing professional publications, participating in professional societies;</li>
        <li>Contribute to team effort by accomplishing related results as needed.</li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>required qualifications</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>Prepare work to be accomplished by gathering information and materials;</li>
        <li>Plan concept by studying the information and materials;</li>
        <li>Illustrate concept by designing rough layout of art and copy, regarding arrangement, size, type size and style, and related aesthetic concepts;</li>
        <li>Obtain approval of concept by submitting rough layout for approval;</li>
        <li>Prepare final layout by marking and pasting up finished copy and art;</li>
        <li>Maintain technical knowledge by attending design workshops, reviewing professional publications, participating in professional societies;</li>
        <li>Contribute to team effort by accomplishing related results as needed.</li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>share this article with frinds</span>
    </div>
    <div class="social">
      <ul class="list-group">
        <li>via instagram</li>
        <li>via insta message</li>
        <li>via facebook</li>
        <li>via massanger</li>
        <li>via viber</li>
        <li>via whats app</li>
      </ul>
    </div>
  </div>
</div>
