<div class="container-fluid">
  <div class="row">
    <div class="vacancy-description">
      <p>graphic designer</p>
    </div>
    <div class="vacancy-info">
      <ul>
        <li>
          <div class="info-header">term</div>
          <div class="info-content">full-time</div>
        </li>
        <li>
          <div class="info-header">duration</div>
          <div class="info-content">permanent</div>
        </li>
        <li>
          <div class="info-header">location</div>
          <div class="info-content">Yerevan | Armenia</div>
        </li>
        <li>
          <div class="info-header">opening date</div>
          <div class="info-content">20 sep 2019</div>
        </li>
        <li>
          <div class="info-header">application deadline</div>
          <div class="info-content">31 oct 2019</div>
        </li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>job responsibilities</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>- Work with a wide range of media and use graphic design software</li>
        <li>- Describe ideas in a creative way to attract consumers</li>
        <li>- Create visual concepts</li>
        <li>- Work closely with the Marketing Team and the Creative Department to create collateral, promotional and advertising pieces</li>
      </ul>
    </div>

    <div class="vacancy-header">
      <span>required qualifications</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>- BA in Graphic Design and portfolio showing a strong body of work</li>
        <li>- Excellent knowledge of Adobe Creative Suite</li>
        <li>- 2-4 years of experience in graphic design</li>
        <li>- Ability to work under pressure</li>
        <li>- Comfortable working with strict deadlines and targets</li>
        <li>- Highly responsible and detail-oriented</li>
        <li>- Good communication skills</li>
        <li>- Strong organizational and time management skills</li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>share this article with freinds</span>
    </div>
    <!--<div class="social">-->
      <!--<ul class="list-group">-->
        <!--<li>via facebook</li>-->
        <!--<li>via massanger</li>-->
        <!--<li>via viber</li>-->
        <!--<li>via whats app</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
