/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Montserrat-Bold;
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Black;
  src: url("/assets/fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
body {
  margin: 0;
}
