@media only screen and(min-width: 100px) {
  .order-description {
    width: 100%;
    margin: 12.1vh 0 150px;
    p {
      font-family: Montserrat-Black, serif;
      font-size: 40px;
      letter-spacing: 2px;
      font-weight: 900;
      line-height: 43px;
    }
  }

  .order-description p, .submit-text, .join-header, .vacancy-header, .social, .vacancies-buttons, .submit-form  {
    margin: 0 30px;
  }

  .submit-text {
    margin-bottom: 150px;
    p {
      line-height: 1.6rem;
      font-size: 15px;
      font-family: Montserrat-Regular, serif;
      margin-bottom: 0;
    }
  }

  .join-header {
    margin-bottom: 50px;
    width: 100%;

    span {
      font-family: Montserrat-Black, serif;
      font-size: 30px;
    }
  }

  .vacancies-buttons {
    width: 100%;
    margin-bottom: 50px;

    div {
      margin-top: 15px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin-right: 18px;
        margin-bottom: 20px;
        display: inline-block;

        button {
          height: 41px;
          border: 1px solid #707070;
          border-radius: 100px;
          background: transparent no-repeat 0 0;
          font-size: 18px;
          padding: 0 25px;
          width: max-content;
          font-family: Montserrat-Regular, serif;
        }
      }
    }
  }

  .order-type {
    opacity: 0.5 !important;
    transition: 0.3s;
  }
  .order-type-focused {
    opacity: 1 !important;
    border: 2px solid #707070 !important;
    transition: 0.3s;
  }

  .submit-form {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
  }
  .submit-full-width {
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat-Regular, serif;
  }
  .slider-info {
    margin-bottom: 12px;

    span {
      font-size: 16px;
      font-family: Montserrat-Medium, serif;
    }
  }
  ng5-slider {
    margin-bottom: 50px;
  }
  ng5-slider ::ng-deep .ng5-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -5px !important;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  ng5-slider ::ng-deep .ng5-slider-ceil {
    visibility: hidden !important;
  }
  ng5-slider ::ng-deep .ng5-slider-selection {
    background: #535353;
  }
  ng5-slider ::ng-deep .ng5-slider-pointer:after {
    content: none;
  }
  .submit-button {
    margin-bottom: 150px;
    text-align: center;

    button {
      font-size: 18px;
      font-family: Montserrat-Bold, serif !important;
      width: 314px;
      height: 63px;
      background: #fff;
      border: 2px solid #707070;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
    }
  }
}

@media only screen and(min-width: 992px) {
  .order-description {
    position: relative;
    width: 100%;
    margin: 0;

    p {
      line-height: inherit;
      position: absolute;
      top: 8vh;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
      letter-spacing: 2px;
      font-weight: 900;
      margin: 0;
    }
  }

  .submit-text {
    margin: 291px 344px 300px 0;

    p {
      line-height: 1.6rem;
      font-size: 20px;
      font-family: Montserrat-Regular, serif;
    }
  }

  .join-header {
    margin: 0 0 150px 0;
    width: 100%;

    span {
      font-family: Montserrat-Black, serif;
      font-size: 40px;
    }
  }

  .vacancies-buttons {
    width: 100%;
    margin: 0 0 50px 0;

    div {
      margin-top: 15px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin-right: 20px;
        display: inline-block;

        button {
          height: 41px;
          border: 1px solid #707070;
          border-radius: 100px;
          background: transparent no-repeat 0 0;
          font-size: 20px;
          padding: 0 25px;
          width: max-content;
          font-family: Montserrat-Regular, serif;
        }
      }
    }
  }

  .order-type {
    opacity: 0.5 !important;
    transition: 0.3s;
  }
  .order-type-focused {
    opacity: 1 !important;
    border: 2px solid #707070 !important;
    transition: 0.3s;
  }

  .submit-form {
    min-width: 25vw;
    max-width: 40vw;
    width: 100%;
    margin: 0;
  }
  .submit-full-width {
    margin-bottom: 50px;
    width: 100%;
    font-size: 20px;
    font-family: Montserrat-Regular, serif;
  }
  .slider-info {
    margin-bottom: 12px;

    span {
      font-size: 16px;
      font-family: Montserrat-Medium, serif;
    }
  }
  ng5-slider {
    margin-bottom: 50px;
  }
  ng5-slider ::ng-deep .ng5-slider-pointer {
    width: 12px !important;
    height: 12px !important;
    top: -5px !important;
    background-color: #ffffff;
    border: 1px solid #000000;
  }
  ng5-slider ::ng-deep .ng5-slider-ceil {
    visibility: hidden !important;
  }
  ng5-slider ::ng-deep .ng5-slider-selection {
    background: #535353;
  }
  ng5-slider ::ng-deep .ng5-slider-pointer:after {
    content: none;
  }
  .submit-button {
    margin-bottom: 300px;
    text-align: inherit;

    button {
      font-size: 18px;
      font-family: Montserrat-Bold, serif !important;
      width: 205px;
      height: 63px;
      background: #fff;
      border: 1px solid #707070;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
    }
  }
}
