<div class="container-fluid">
  <div class="row">
    <div class="order-description">
      <p>new project</p>
    </div>
    <div class="submit-text">
      <p>
        Make an order
        It’s all simple. You give us the brief, we give you the ad, you say wow.
      </p>
    </div>
    <div class="vacancies-buttons">
      <ul>
        <li>
          <button  (click)="typeButtons('strategy')" [class]="strategy">non-standard</button>
        </li>
        <li>
          <button [class]="integrated" (click)="typeButtons('integrated')">visual</button>
        </li>
        <li>
          <button [class]="digital" (click)="typeButtons('digital')">strategy</button>
        </li>
        <li>
          <button [class]="video" (click)="typeButtons('video')">integrated</button>
        </li>
        <li>
          <button [class]="visual" (click)="typeButtons('visual')">digital</button>
        </li>
        <li>
          <button [class]="nonStandard" (click)="typeButtons('non-standard')">video</button>
        </li>
      </ul>
      <div *ngIf="required">
        <p class="text-danger">choose the type, required!</p>
      </div>
    </div>

    <form class="submit-form" [formGroup]="orderForm" (submit)="submit()">
      <mat-form-field class="submit-full-width">
        <input matInput formControlName="companyName" placeholder="company name*" >
        <mat-error *ngIf="orderForm.controls.companyName.invalid">Required field</mat-error>
      </mat-form-field>
<!--      <div class="slider-info">
        <span>budget (amd) ≈</span>
      </div>
      <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>-->
      <mat-form-field class="submit-full-width">
        <input matInput formControlName="email"  placeholder="email*" >
        <mat-error *ngIf="orderForm.controls.email.invalid">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input matInput placeholder="phone*" type="number" formControlName="phoneNumber" >
        <mat-error *ngIf="orderForm.controls.phoneNumber.invalid">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <input matInput placeholder="name*" formControlName="customerName" >
        <mat-error *ngIf="orderForm.controls.customerName.invalid">Required field</mat-error>
      </mat-form-field>
      <mat-form-field class="submit-full-width">
        <textarea rows="5" matInput formControlName="aboutProject"  placeholder="about project"></textarea>
      </mat-form-field>
      <div class="submit-button">
        <button type="submit">
          send to zuck
        </button>
      </div>
    </form>
  </div>
</div>
