.other-works {

  img:hover~.sub-pic-header {
    text-decoration: underline;
  }

  .pic-header:hover~.sub-pic-header,
  .sub-pic-header:hover {
    text-decoration: underline;
  }
}

.case-description {
  position: relative;
  width: 100%;
  margin: 81px 0 150px;
}

.case-video {
  position: relative;
  margin-bottom: 19.5%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and(max-width: 992px) {
  .case-info {
    margin-top: 50px;

    ul {
      padding: 0 8%;
      margin-bottom: 150px;

      li {
        width: 100%;
        margin-bottom: 30px;

        .info-header {
          font-family: Montserrat-Bold, serif;
          font-size: 15px;
          margin-bottom: 10px;
        }

        .info-content {
          font-size: 15px;
          font-family: Montserrat-Regular, serif;
        }
      }
    }
  }


  .case-articles {
    overflow-x: auto;
  }

  .case-statics-carousel::-webkit-scrollbar {
    display: none;
  }

  .case-statics-carousel {
    width: 100%;
    margin-bottom: 150px;
    overflow-y: hidden;

    ul {
      width: max-content;
      padding: 0;
      margin-left: 8%;

      li {
        padding-right: 30px;
        float: left;

        .case-statics {
          background: #E8E8E8;
          padding: 17.25vh;
          position: relative;

          p:first-child {
            font-size: 40px;
            font-family: Montserrat-Black, serif;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
          }

          p:last-child {
            font-size: 15px;
            font-family: Montserrat-Bold, serif;
            position: absolute;
            white-space: nowrap;
            bottom: 5%;
            margin: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .image {
          height: 252px;
          width: 252px;
          margin-bottom: 20px;

        }
      }
    }
  }

  .banners {
    div {
      margin-bottom: 30px;

      img {
        width: 100%;
      }
    }
  }

  mat-tab-group {
    margin-bottom: 100px;
  }

  .agency-carousel::-webkit-scrollbar {
    display: none;
  }

  .case-article-awards {
    margin: 0 8% 150px;

    ul {
      padding: 0;
      margin: 0;
      li {
        margin-right: 70px;

        .case-statics {
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        >div {
          position: relative;
          padding: 17.25vh;
          box-shadow: inset 0 0 0 1px;

          img {
            position: absolute;
            width: 44%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          p {
            font-size: 15px;
            font-family: Montserrat-Bold, serif;
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .other-works {
    margin: 0;

    ul {
      margin: 0;
    }

    .case-statics-carousel {
      padding-left: 8%;
    }
    .other-left-banner {
      margin-bottom: 50px;
    }

    .other-right-banner {
      margin-bottom: 150px;
    }

    .other-left-banner .sub-pic-header, .other-right-banner .sub-pic-header {
      margin: 0 8%;
    }
    .pic-header {
      font-family: Montserrat-Regular, serif;
      font-size: 12px;
      margin: 15px 8% 5px;
    }

    .sub-pic-header {
      font-family: Montserrat-Black, serif;
      font-size: 16px;
    }
  }

  ::ng-deep .mat-tab-label {
    font-size: 30px;
    color: #000;
    font-family: Montserrat-Black, serif;
    opacity: 1 !important;
    min-width: unset !important;
  }

  ::ng-deep .mat-tab-header {
    border: none;
    margin: 0 calc(8% - 23px) !important;
    width: 100% !important;
  }

  ::ng-deep .mat-tab-label-active {
    text-decoration: underline;
  }

  ::ng-deep.mat-tab-body-content {
    padding: 50px 0 0 0;
  }

  ::ng-deep .mat-ink-bar {
    display: none !important;
  }
}

/*************************************************************************************************************************************/


@media only screen and(min-width: 992px) {

  .case-description {
    position: relative;
    width: 100%;
    margin: 0 0 13.4vh;
  }


  .case-info {
    margin: 6.511% 0 6.511% 0;
    ul {
      padding: 0;

      li {
        margin-right: 5%;
        display: inline-block;

        .info-header {
          font-family: Montserrat-ExtraBold, serif;
          font-size: 18px;
          margin-bottom: 18px;
          color: #000000;
        }

        .info-content  {
          font-family: Montserrat-Regular, serif;
          font-size: 17px;
          color: #000000;
        }
      }

      li:last-child {
        margin: 0;
      }
    }
  }



  mat-tab-group {
    margin-bottom: 6.511%;
  }

  .banners {
    margin-bottom: 19.5%;

    .first-row {
      display: flex;

      .left-pic,
      .right-pic {
        padding: 16% 9.6%;
        background: #E6E6E6;
      }

      .left-pic {
        margin-right: 50px;
      }

      .right-pic {
        margin-left: 50px;
      }

      img {
        width: 100%;
      }
    }

    .other-row {
      margin-top: 100px;
    }
  }

  .case-articles {
    margin-bottom: 19.5%;
    overflow: hidden;
    width: 100%;
  }

  .case-statics-carousel,
  .awards {
    ul {
      width: max-content;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin-right: 12.1%;
        margin-bottom: 12.1%;

        .case-statics {
          position: relative;

          p:first-child {
            font-size: 38px;
            font-family: Montserrat-Black, serif;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          p:last-child {
            font-size: 15px;
            white-space: nowrap;
            font-family: Montserrat-Bold, serif;
            position: absolute;
            bottom: 5%;
            margin: 0;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .image {
          height: 252px;
          width: 252px;
          margin-bottom: 20px;

        }
      }

      li:last-child {
        padding-right: 6.7% !important;
      }
    }
  }

  .awards .case-statics {
    box-shadow: inset 0 0 0 1px;
  }

  .case-statics-carousel {
    .case-statics {
      padding: 9.25vw;
      background-color: #E8E8E8;

    }
  }

  .case-article-awards {
    margin-bottom: 19.5%;
    width: 100%;

    ul {
      li {
        margin-right: 70px;

        .case-statics {
          padding: 9.25vw;

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }

  .review-content {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    margin-bottom: 19.5%;


    .carousel-item-content {
      align-self: center;

      p {
        margin: 20px 0;
      }

      .name {
        font-size: 25px;
        font-family: Montserrat-Black, serif;
        line-height: 1.6rem;
      }

      .position {
        font-size: 18px;
        font-family: Montserrat-Bold, serif;
      }

      .content-text {
        width: 85.5%;
      }
    }

    .image {
      margin-right: 100px;
      align-self: center;

      img {
        width: 22vw;
      }
    }
  }

  ::ng-deep .mat-tab-label {
    font-size: 35px;
    height: 40px !important;
    color: #000;
    font-family: Montserrat-Black, serif;
    opacity: 1 !important;
    padding: 0 !important;
    margin-right: 100px;
    min-width: unset !important;
    cursor: pointer !important;
  }

  ::ng-deep .mat-tab-header {
    border: none;
  }


  ::ng-deep .mat-tab-label-active {
    border-bottom: 3px solid #000000;
  }

  ::ng-deep.mat-tab-body-content {
    padding-top: 9.511%;
  }

  ::ng-deep .mat-ink-bar {
    display: none !important;
  }


  .other-works {
    display: flex;
    margin-bottom: 19.5%;


    .other-left-banner {
      background-size: 100%;
      margin-right: 50px;
      flex: 2 1 100px;
    }

    .other-right-banner {
      background-size: 100%;
      margin-left: 50px;
      flex: 1 1 100px;
    }

    img {
      margin-bottom: 5vh;
      cursor: pointer;
    }


    .pic-header,
    .sub-pic-header {
      margin: 0;
      cursor: pointer;
    }

    .pic-header {
      font-family: Montserrat-Regular, serif;
      font-size: 10px;
      width: 100%;
    }

    .sub-pic-header {
      font-family: Montserrat-Black, serif;
      font-size: 17px;
    }
  }
}
@media only screen and(min-width: 1400px) {
  .case-statics-carousel {
    ul {
      li {
        .case-statics {
          p:first-child {
            font-size: 50px;
          }
        }
      }
    }
  }
}


/*************************************************************************************************************************************/


@media only screen and(min-width: 1600px) {
  .case-info {
    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-block;

        .info-header {
          font-family: Montserrat-ExtraBold, serif;
          font-size: 20px;
          margin-bottom: 20px;
          color: #000000;
        }
      }
    }
  }

  .case-article-awards {
    margin-bottom: 19.5%;
    width: 100%
  }

  ::ng-deep .mat-tab-label {
    font-size: 40px;
    height: 48px !important;
  }

  .review-content {

    .carousel-item-content {
      vertical-align: middle;
      display: inline-block;
      width: 54.2vw;

      p {
        margin: 20px 0;
      }

      .name {
        font-size: 30px;
        font-family: Montserrat-Black, serif;
        line-height: 1.6rem;
      }

      .position {
        font-size: 20px;
        font-family: Montserrat-Bold, serif;
      }

      .content-text {
        width: 54.5%;
      }
    }

    .image {
      vertical-align: middle;
      display: inline-block;
      margin-right: 100px;
      width: 19.5vw;

      img {
        width: 100%;
      }
    }
  }


  .other-works {
    .sub-pic-header {
      font-size: 20px;
    }
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 2px;
  height: 2px;
}

