<div class="container-fluid">
  <div class="row">
    <div class="case-description">
      <span>AdAge cover competition</span>
    </div>
    <div *ngIf="screenSize < 992" class="case-video-mobile"></div>

    <div class="case-info">
      <ul>
        <li>
          <div class="info-header">brand</div>
          <div class="info-content">AdAge Magazine</div>
        </li>
        <li>
          <div class="info-header">location</div>
          <div class="info-content">Yerevan | Armenia</div>
        </li>
        <li>
          <div class="info-header">date</div>
          <div class="info-content">20 sep 2019</div>
        </li>
        <li>
          <div class="info-header">category</div>
          <div class="info-content">design | creative</div>
        </li>
      </ul>
    </div>
    <!--<div *ngIf="screenSize > 992" class="case-video"></div>-->
    <div *ngIf="screenSize > 992">
      <img class="img-width case-video" src="../../../assets/caseAssets/Rectangle402x.png" alt="">
    </div>
    <!--<div class="case-articles">
      <div class="case-article-brief">
        <p class="heading">brief</p>
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. <br> We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". <br> But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. <br> Zuck for short. And we are all about we. In fact.</p>
      </div>
      <div *ngIf="screenSize > 992" class="case-article-insight">
        <p class="heading">idea</p>
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. <br> We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". <br> But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. <br> Zuck for short. And we are all about we. In fact.</p>
      </div>
      <div *ngIf="screenSize > 992" class="case-article-execution">
        <p class="heading">execution</p>

        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. <br> We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". <br> But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. <br> Zuck for short. And we are all about we. In fact.</p>
      </div>
    </div>-->

    <mat-tab-group class="tabs-web" *ngIf="screenSize > 992">
      <mat-tab label="brief">
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". <br> <br> But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact.</p>
      </mat-tab>
      <mat-tab label="idea">
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". <br> <br> But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg.Zuck for short. And we are all about we. In fact.</p>
      </mat-tab>
      <mat-tab label="execution">
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". <br> <br> But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact.</p>
      </mat-tab>
    </mat-tab-group>

    <mat-tab-group class="tabs-mob" *ngIf="screenSize < 992">
      <mat-tab label="idea">
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact.</p>
      </mat-tab>
      <mat-tab label="execution">
        <p class="case-article-text info-content">
          I know, I know. It's supposed to be about "us", not "we". But
          we're
          always ready to break a rule or two, especially
          when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
          know. It's
          supposed to be about "us", not "we". But we're always ready to break a rule or two, especially when
          it
          comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact.</p>
      </mat-tab>
    </mat-tab-group>

    <div class="banners w-100" *ngIf="screenSize > 992">
      <div class="first-row">
        <div class="left-pic">
          <img src="../../../assets/caseAssets/Group42x.png" alt="">
        </div>
        <div class="right-pic">
          <img src="../../../assets/caseAssets/Group32x.png" alt="">
        </div>
      </div>

      <div class="other-row">
        <img class="img-width" src="../../../assets/caseAssets/banner-g.png" alt="">
      </div>
      <div class="other-row">
        <img class="img-width" src="../../../assets/caseAssets/Rectangle39@2x.png" alt="">
      </div>
      <div class="other-row">
        <img class="img-width" src="../../../assets/caseAssets/Rectangle4@2x.png" alt="">
      </div>
      <!--<div class="first-banner">
        <div class="left-banner"></div>
        <div class="right-banner"></div>
      </div>
      <div class="second-banner"></div>
      <div class="third-banner"></div>
      <div class="forth-banner"></div>-->
      <img src="" alt="">
    </div>
    <div class="banners" *ngIf="screenSize < 992">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="case-articles-heading">
      <p class="heading">outcome</p>
    </div>
    <div class="case-articles-content" id="counting">
      <p class="case-article-text info-content">
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
        know. It's supposed to be about "us", not "we". <br> <br> But we're always ready to break a rule or two,
        especially when it
        comes to we. We are Zuck&Berg. <br> Zuck for short. And we are all about we. In fact.
      </p>
    </div>
    <div class="case-articles" (scroll)="scrollMe($event)">
      <div class="case-statics-carousel">
        <ul>
          <li>
            <div class="case-statics text-center">
              <p>{{contacts}}k</p>
              <p>new contacts</p>
            </div>
          </li>
          <li>
            <div class="case-statics text-center">
              <p>{{expressions}}k</p>
              <p>expressions</p>
            </div>
          </li>
          <li>
            <div class="case-statics text-center">
              <p>{{awernes}}m</p>
              <p>awernes</p>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="case-statics text-center">
              <p>{{traffic}}%</p>
              <p>website traffic</p>
            </div>
          </li>
        </ul>
      </div>
    </div>


    <div class="case-article-awards">
      <p class="heading">awards</p>
      <div class="awards-carousel">
        <ul>
          <li>
            <div class="agency-awards text-center">
              <img class="h-50" src="../../../assets/agencyAssets/image49.png" alt="">
              <p>shortlist</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="screenSize > 600" class="case-article-review">
      <p class="heading">review</p>
    </div>

    <div class="review-content" *ngIf="screenSize > 600">
      <div class="image">
        <img src="../../../assets/caseAssets/bezos.jpg" alt="">
      </div>
      <div class="carousel-item-content">
        <div class="carousel-item-margin">
          <p class="name">Jeff Bezos</p>
          <p class="position">Chairman, CEO, and President of Amazon</p>
          <p class="review"> I know, I know. It's supposed to be about "us", not "we". But we're always ready to break
            a
            rule or two,
            especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I
            know,
            I
            know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And
            we
            are all about we. In fact.</p>
        </div>
      </div>
    </div>

    <!--<mdb-carousel *ngIf="screenSize > 600" [animation]="'slide'" [interval]="'0'">
      <mdb-carousel-item>
        <div class="image">
          <img src="../../../assets/caseAssets/bezos.jpg" alt="">
        </div>
        <div class="carousel-item-content">
          <div class="carousel-item-margin">
            <p class="name">Jeff Bezos</p>
            <p class="position">PMI Marketing Head</p>
            <p class="review"> I know, I know. It's supposed to be about "us", not "we". But we're always ready to break
              a
              rule or two,
              especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I
              know,
              I
              know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And
              we
              are all about we. In fact.</p>
            <div class="logo">
              <img src="../../../assets/caseAssets/Image402x.png" alt="logo">
            </div>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="image">
          <img src="../../../assets/caseAssets/bezos.jpg" alt="">
        </div>
        <div class="carousel-item-content">
          <div class="carousel-item-margin">
            <p class="name">Lilit Matevosyan</p>
            <p class="position">PMI Marketing Head</p>
            <p class="review"> I know, I know. It's supposed to be about "us", not "we". But we're always ready to break
              a
              rule or two,
              especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I
              know,
              I
              know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And
              we
              are all about we. In fact.</p>
            <div class="logo">
              <img src="../../../assets/caseAssets/Image402x.png" alt="logo">
            </div>
          </div>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="image">
          <img src="../../../assets/caseAssets/bezos.jpg" alt="">
        </div>
        <div class="carousel-item-content">
          <div class="carousel-item-margin">
            <p class="name">Lilit Matevosyan</p>
            <p class="position">PMI Marketing Head</p>
            <p class="review"> I know, I know. It's supposed to be about "us", not "we". But we're always ready to break
              a
              rule or two,
              especially when it comes to we. We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I
              know,
              I
              know. But we're always ready to break a rule or two, especially when it comes to we. We are Zuck&Berg. And
              we
              are all about we. In fact.</p>
            <div class="logo">
              <img src="../../../assets/caseAssets/Image402x.png" alt="logo">
            </div>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>-->

    <!--<div *ngIf="screenSize > 600" class="case-articles  other-works">
      <div class="case-article-other-works">
        <p class="heading">other-works</p>
        <div class="other-case-articles">
          <div class="case-statics-carousel other-works-carousel">
            <ul>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/Image12x.png" alt="">
                </div>
              </li>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/BEEELINE.png" alt="">
                </div>
              </li>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/Image12x.png" alt="">
                </div>
              </li>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/BEEELINE.png" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<div *ngIf="screenSize < 600" class="case-articles  other-works">
      <div class="case-article-other-works">
        <p class="heading">other-works</p>
        <div class="other-case-articles">
          <div class="case-statics-carousel">
            <ul>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/blMOB.png" alt="">
                </div>
              </li>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/ImaMOB.png" alt="">
                </div>
              </li>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/blMOB.png" alt="">
                </div>
              </li>
              <li>
                <div class="case-statics text-center">
                  <img src="../../../assets/caseAssets/ImaMOB.png" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    -->
    <div *ngIf="screenSize < 600" class="case-articles">
      <div class="case-article-other-works">
        <p class="heading">other-works</p>
        <div class="other-works">
          <div class="other-left-banner"><img class="w-100" src="../../../assets/workAssets/Image54@2x.png" alt="">
          </div>
          <div class="other-right-banner"><img class="w-100" src="../../../assets/caseAssets/Image60@2x.png" alt="">
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="screenSize >= 600" class="other-works-container">
      <div class="other-works-heading">
        <p class="heading">other-works</p>
      </div>
      <div class="other-works">
        <!--<div class="other-left-banner"></div>-->
        <!--<div class="other-right-banner"></div>-->
        <div class="other-left-banner"><img class="w-100" src="../../../assets/workAssets/Image54@2x.png" alt="">
        </div>
        <div class="other-right-banner"><img class="w-100" src="../../../assets/caseAssets/Image60@2x.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>


