<div class="container-fluid">
  <div class="row">
    <div class="agency-description">
      <span>creative agency</span>
    </div>
    <div class="agency-info">
      <p class="agency-text">
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially
        when it comes to we.<br>
        We are Zuck&Berg. Zuck for short. And we are all about we. In fact, I'll type WE in all caps from here on, to
        show
        just how much WE <br>
        value "WE". WE value WE as much as Zuck values Berg, Hewlett values Packard and Procter values Gamble.
        <br><br>
        Ideas and solutions appear, when WE get together and start sharing. The first time WE got together and shared,
        Zuck&Berg was <br>
        born to reflect the meaning of WE. That this is what WE'd call WE wasn't questioned for a second. But now,
        every new meeting <br>
        starts with a discussion of our name. It's been more than two years since WE first surprised people, and from
        that very moment WE <br>
        decided that the surprises would never cease.
      </p>
    </div>
    <div class="banner">
      <img src="../../../assets/agency-assets/fin2@2x.png" alt="">
    </div>
    <div class="services">
      <span>services</span>
    </div>
    <div class="agency-text">
      <p>
        I know, I know. It's supposed to be about "us", not "we". But we're always ready to break a rule or two,
        especially when it comes to we. <br>
        We are Zuck&Berg. Zuck for short. And we are all about we. In fact. I know, I
        know. But we're always ready to break a rule or two, <br>
        especially when it comes to we. We are Zuck&Berg. And we are all about we. In fact.
      </p>
    </div>
  </div>
</div>
