<div class="container-fluid general">
  <div class="row" #iframe>
    <div class="case-description">
      <p class="page-header">Annual Social Media Promotion for Coca-Cola HBC
      </p>
    </div>
    <div class="case-video w-100" *ngIf="screenSize < 992">
      <video [muted]="true" loop playsinline autoplay width="100%"
             src="../../../../assets/cocaCola/cover_loop.mp4"></video>
    </div>

    <div class="case-info">
      <ul>
        <li>
          <div class="info-header">Brand</div>
          <div class="info-content">Coca-Cola HBC</div>
        </li>
        <li>
          <div class="info-header">Date</div>
          <div class="info-content">2018-2019</div>
        </li>
        <li>
          <div class="info-header">Industry</div>
          <div class="info-content">FMCG | CSR</div>
        </li>
        <li>
          <div class="info-header">Medium</div>
          <div class="info-content">Social Media</div>
        </li>
      </ul>
    </div>
    <div class="case-video w-100" *ngIf="screenSize > 992">
      <video [muted]="true" loop playsinline autoplay [width]="videoWidth" [height]="videoHeight"
             src="../../../../assets/cocaCola/cover_loop.mp4"></video>
    </div>


    <mat-tab-group class="w-100">
      <mat-tab label="Brief">
        <div #brief>
          <p class="content-text mb-0">
            Coca-Cola Hellenic Bottling Company Armenia is one of the world’s largest bottlers of The Coca-Cola Company
            and represents a portfolio of 10 worldwide brands, including Coca-Cola, Fanta, Sprite, Добрый, Bonaqua, etc.
            <br>
            <br>
            Since its launch in Armenia, the company engaged in CSR activities like environmental protection,
            sustainable development, youth education and community engagement. However, due to its passive presence on
            social media, the CSR efforts of the company were largely unnoticed by its target group.
            <br>
            <br>
            The company was famous for bottling world-famous beverages. Our task was to make it also famous for being a
            socially responsible company.
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Strategy">
        <div [style.height]="briefHeight">
          <p class="content-text mb-0">
            In order to change public perceptions of the company, we focused our social media strategy on 5 key
            directions:
          </p>
          <br>
          <ul>
            <li class="content-text mb-0">Positioning Coca-Cola as a socially responsible brand
            </li>
            <li class="content-text mb-0">Raising public awareness of and interest in the brand’s CSR mission
            </li>
            <li class="content-text mb-0">Ensuring public participation in the brand’s CSR activities
            </li>
            <li class="content-text mb-0">Enhancing the image of the brand among its target audience
            </li>
            <li class="content-text mb-0">Positioning Coca-Cola as a socially responsible employer
            </li>
          </ul>
        </div>

      </mat-tab>
      <mat-tab label="Execution">
        <p [style.height]="briefHeight" class="content-text mb-0">
          When developing the page content, we primarily focused on showing the real impact of the brand’s CSR efforts
          through beneficiaries’ personal stories, testimonials, survey results, numbers and statistics, photo and video
          reports covering CSR events and activities, etc.
          <br>
          <br>
          To balance out the serious and complex messages conveyed by the page, we opted for a light and straightforward
          visual identity, integrating iconic Coca-Cola symbols and images into minimalistic illustrations.
          <br>
          <br>
          All content posted on the page, including posts not directly related to the brand’s CSR mission, such as
          situational ads and holiday posts, featured themes of social responsibility.
          <br>
          <br>
          To further enhance the image of the brand, the page content not only focused on the brand’s CSR activities,
          but also raised awareness of issues important to the brand, such as environmental protection, sustainable
          development and lifelong education.
          <br>
          <br>
          To make the content more emotional and personal, we used real photos and quotes of company employees.
        </p>
      </mat-tab>
    </mat-tab-group>


    <!--  Banners  -->


    <div class="banners w-100" id="countingSM" *ngIf="screenSize <= 992; else web">
      <div class="other-row" *ngFor="let asset of mobileAssets; let i = index">
        <img class="w-100" [src]="asset" alt="">
        <div *ngIf="i == 8">
          <video [muted]="true" loop playsinline autoplay [width]="videoWidth" [height]="videoHeight"
                 src="../../../../assets/cases/Coke/mobile/mobile_11.mp4"></video>
        </div>
      </div>
    </div>

    <ng-template #web>
      <div class="banners w-100">
        <div class="other-row" *ngFor="let asset of webAssets; let i = index">
          <img class="w-100" [src]="asset" alt="">
          <div *ngIf="i == 2" class="horizontal-elems d-flex">
            <div class="left-pic">
              <img class="w-100" src="../../../../assets/cases/Coke/web/web_3.1.png" alt="">
            </div>
            <div class="right-pic">
              <img class="w-100" src="../../../../assets/cases/Coke/web/web_3.2.png" alt="">
            </div>
          </div>
          <div *ngIf="i == 3" class="horizontal-elems d-flex">
            <div class="left-pic">
              <img class="w-100" src="../../../../assets/cases/Coke/web/web_7.1.png" alt="">
            </div>
            <div class="right-pic">
              <img class="w-100" src="../../../../assets/cases/Coke/web/web_7.2.png" alt="">
            </div>
          </div>
          <div *ngIf="i == 4" class="">
            <video [muted]="true" loop playsinline autoplay [width]="videoWidth" [height]="videoHeight"
                   src="../../../../assets/cases/Coke/web/web_9.mp4"></video>
          </div>
        </div>
      </div>
    </ng-template>


    <div id="counting" class="w-100">
      <div class="w-100">
        <p class="content-heading">outcome</p>
      </div>
      <div class="w-100 outcome-text">
        <p class="content-text mb-0">
          In addition to a manifold increase in across all key performance indicators (page likes, reach, impressions,
          etc.), we significantly increased the visibility of Coca-Cola’s CSR activities, thus not only ensuring
          public awareness of the company’s socially responsible efforts, but also increasing their impact.
          <br>
          <br>
          Throughout the year, we helped the company ensure active public participation in its events and activities –
          trainings, workshops, cleaning days and opening events. Here is just one case of how social media activation
          contributed to the success of the brand’s CSR work.
        </p>
      </div>
    </div>

    <div class="case-articles" (scroll)="scrollMe($event)">
      <div class="case-statics-carousel">
        <ul>
          <li>
            <div class="case-statics text-center">
              <p>+{{likes}}%</p>
              <p>Page Likes</p>
            </div>
          </li>
          <li>
            <div class="case-statics text-center">
              <p>{{impressions}}m</p>
              <p>Impressions</p>
            </div>
          </li>
          <li>
            <div class="case-statics text-center">
              <p>{{unique}}k</p>
              <p>Unique reach</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="case-articles last-case-article">
      <div class="case-statics-carousel">
        <ul>
          <li>
            <div class="case-statics text-center">
              <p>{{cumulative}}m</p>
              <p>Cumulative reach</p>
            </div>
          </li>
          <li>
            <div class="case-statics text-center">
              <p>{{users}}.8k</p>
              <p>Engaged users</p>
            </div>
          </li>
          <li>
            <div class="case-statics text-center">
              <p>{{views}}.9k</p>
              <p>
                Video Views
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <p class="content-heading">other-works</p>
      <div class="other-works">
        <div *ngFor="let work of otherWorks"
             [ngClass]="work?.type === 'bigBanner' ? 'other-left-banner' : 'other-right-banner'"
             (click)="navigateTo(work?.routerLink)"
        >
          <img class="w-100"
               [src]="work?.src"
               alt="">
          <p [innerHTML]="work?.companyName" class="pic-header"></p>
          <p [innerHTML]="work?.projectName" class="sub-pic-header"></p>
        </div>
      </div>
    </div>
  </div>
</div>
