/* Large devices (laptops/desktops, 992px and up) */
@media only screen and(max-width: 992px) {
  .home-page {
    height: 100vh;
    overflow: hidden;
    position: fixed;
  }

  .home-description {
    position: relative;
    width: 100%;
    margin: 82px 0 0;
    p {
      line-height: 38px;
    }

  }

  .home-picture {
    img {
      height: inherit;
      width: 100%;
    }
  }
}
@media only screen and(max-width: 992px) and (orientation: landscape) {
  .home-description {
    z-index: 40;
  }
  .home-picture {
    position: absolute;
    margin: 82px 0 0;
    z-index: 10;
    img {
      width: 44%;
    }
  }
}
@media only screen and(min-width: 992px) {
  .home-description {
    margin: 0;
  }
  .home-picture {
    margin: 0 auto;
    img {
      //cursor: pointer;
      width: 77vh;
    }
  }
}

@media only screen and(min-width: 1300px) {
  .home-picture {
    margin: 0 10% 0 25%;
  }
}
