.home-description {
  position: relative;
  width: 100%;

  span {
    color: #000000;
    position: absolute;
    top: 8vh;
    font-family: Montserrat-Black, serif;
    font-size: 45px;
  }
}
.home-picture {
  margin: 0 auto;
  img {
    height: 99vh;
  }
}
