/* Large devices (laptops/desktops, 992px and up) */
@media only screen and(max-width: 992px) {
  .home-description {
    position: relative;
    width: 100%;
    margin: 82px 0 0;
    p {
      line-height: 34px;
    }

  }
  .home-picture {
    img {
      height: inherit;
      width: 100%;
    }
  }
}
@media only screen and(min-width: 992px) {
  .home-description {
    margin: 0;
    :last-child {
      font-family: Montserrat-Regular, serif;
      margin-top: 0;
      font-size: 20px;
    }
  }
  .home-picture {
    margin: 0 auto;
    img {
      //cursor: pointer;
      width: 77vh;
    }
  }
}

@media only screen and(min-width: 1300px) {
  .home-picture {
    margin: 0 10% 0 25%;
  }
}
