<div class="container-fluid">
  <div class="row">
    <div class="work-description">
      <span>some works</span>
    </div>

    <div class="work-buttons">
      <ul class="list-group list-group-horizontal">
        <li>
          <button class="work-button-all">All</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
        <li>
          <button class="work-button-design">Design</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
        <li>
          <button class="work-button-design">Design</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
        <li>
          <button class="work-button-design">Design</button>
        </li>
        <li>
          <button class="work-button-creative">Creative</button>
        </li>
      </ul>
    </div>

    <div class="work-pics">
      <div class="work-pics-section-first">
        <div class="work-pics-section-second">
          <div class="work-pic w-p-s-1-left-pic" aTilt [tiltSettings]="tiltSettings"></div>
          <div class=" work-pic w-p-s-1-right-pic" aTilt [tiltSettings]="tiltSettings"></div>
        </div>
      </div>
      <div class="work-pics-section-second">

        <div class=" work-pic w-p-s-2-left-pic" aTilt [tiltSettings]="tiltSettings"></div>
        <div class=" work-pic w-p-s-2-right-pic" aTilt [tiltSettings]="tiltSettings"></div>
      </div>

      <div class="work-pics-section-third">
        <div class=" work-pic w-p-s-3-pic" aTilt [tiltSettings]="tiltSettings"></div>

      </div>
      <div class="work-pics-section-fourth">
        <a routerLink="case"><div class="work-pic w-p-s-4-left-pic" aTilt [tiltSettings]="tiltSettings"></div></a>
        <div class="work-pic w-p-s-4-right-pic" aTilt [tiltSettings]="tiltSettings"></div>
      </div>
    </div>
  </div>
</div>
