@media only screen and(min-width: 300px) {
  .work-description {
    width: 100%;
    margin: 13.1vh 0 150px;

    p {
      color: #000000;
      font-family: Montserrat-Black, serif;
      font-size: 30px;
    }
  }

  .work-description p, .work-pics {
    margin: 0 8%;
  }


  .work-buttons {
    margin-right: 0;
    overflow-y: scroll;
    margin-bottom: 50px;

    ul {
      height: 43px;
    }

    ul li:first-child {
      margin-left: 30px;
    }

    ul li {
      padding-right: 20px;

      button {
        height: 41px;
        border: 1px solid #707070;
        border-radius: 100px;
        opacity: 0.5;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        width: 133px;
      }
    }
  }
  .work-buttons::-webkit-scrollbar {
    display: none;
  }

  .work-pics {
    width: 315px;

    img {
      width: 100%;
    }

    .pic-header {
      margin-top: 10px;
      margin-bottom: 0;
      font-family: Montserrat-Black, serif;
      font-size: 15px;
    }

    .sub-pic-header {
      margin-top: 5px;
      margin-bottom: 0;
      font-family: Montserrat-Regular, serif;
      font-size: 10px;
    }

    .w-p-s-1-left-pic, .w-p-s-1-right-pic, .w-p-s-2-left-pic, .w-p-s-2-right-pic, .w-p-s-3-pic, .w-p-s-4-left-pic, .w-p-s-4-right-pic {
      margin-bottom: 70px;
    }

    .work-pic {
      z-index: 5000 !important;
    }

    .work-pic:hover {
      z-index: 5000 !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and(min-width: 500px) {
  .work-description p, .work-pics {
    margin: 0;
  }
  .work-description {
    width: 100%;
    margin: 13.1vh 0 0;

    p {
      color: #000000;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
    }
  }


  .work-buttons {
    margin-top: 242px;
    margin-bottom: 0;
    width: 100%;

    ul li:first-child {
      margin-left: 0;
    }

    ul li {
      margin-left: 0;
      padding-right: 20px;

      button {
        opacity: 1;
        height: 41px;
        border: 1px solid #707070;
        border-radius: 100px;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        padding: 0 25px;
        width: unset !important;
        transition: 0.3s;
      }

      .work-button-all {
        border: 2px solid #707070;
        opacity: 1;
      }

      .work-button-active {
        border: 2px solid #707070;
        transition: 0.3s;
        padding: 0 24px;
      }
    }
  }

  .work-pics {
    margin-top: 200px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 200px;

    img {
      width: inherit;
    }

    .pic-header {
      font-family: Montserrat-Regular, serif;
      margin-top: 40px;
      font-size: 10px;
      margin-bottom: 10px;
    }

    .sub-pic-header {
      font-family: Montserrat-Black, serif;
      margin-top: 10px;
      font-size: 20px;
    }


    .work-pics-section-first {
      margin-bottom: 10vh;

      .w-p-s-1-left-pic {
        width: 33.4%;

        img {
          width: 100%;
        }
      }

      .w-p-s-1-right-pic {
        width: 59.3%;
        float: right;

        img {
          width: 100%;
        }

        img:after {
          clear: both;
          content: " ";
          display: block;
        }
      }
    }

    .pics-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      .work-images {
        transition: 0.7s;
        margin-bottom: 10px;

        .work-image {
          height: 526px;
          outline: 1px solid #ffffff;
        }

        .work-images:nth-child(3) img, .work-images:nth-child(4) img {
          height: 576px;
        }

        .work-images:nth-child(2n+1) {
          margin-right: 50px;
        }

        .work-images:nth-child(2n) {
          margin-left: 50px;
        }
      }

      .last-section {
        margin-bottom: 300px !important;
      }

      .w-p-s-1-right-pic, .w-p-s-2-right-pic, .w-p-s-4-right-pic {
        .pic-header {
          margin-top: 34px;
        }
      }

      .work-pics-section-second {
        margin-bottom: 10vh;

        .w-p-s-2-left-pic {
          width: 65.2%;

          img {
            width: 100%
          }
        }

        .w-p-s-2-right-pic {
          width: 27.4%;
          float: right;

          img {
            width: 100%;
            float: right;
          }

          img:after {
            clear: both;
            content: " ";
            display: block;
          }
        }
      }

      .work-pics > div,
      .work-pics-section-first > div,
      .work-pics-section-second > div,
      .work-pics-section-third > div,
      .work-pics-section-fourth > div {
        display: inline-block;
        position: relative;
      }

      .work-pics-section-third {
        margin-top: 111.64px;

        .w-p-s-3-pic {
          img {
            width: 100%;
          }
        }
      }

      .work-pics-section-fourth {
        margin-top: 158.1px;
        margin-bottom: 191px;

        .w-p-s-4-left-pic {
          width: 33.8%;

          img {
            width: 100%
          }
        }

        .w-p-s-4-right-pic {
          width: 58.8%;
          float: right;

          img {
            width: 100%;
            float: right;
          }

          img:after {
            clear: both;
            content: " ";
            display: block;
          }
        }
      }


      .work-pic {
        z-index: 5000 !important;
        transition: 0.3s;

        .title {
          text-align: center;
          opacity: 0;
          transition: 0.3s;
          visibility: hidden;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          p {
            color: #ffffff;
          }
        }
      }
    }

    .w-p-s-1-left-pic, .w-p-s-1-right-pic, .w-p-s-2-left-pic, .w-p-s-2-right-pic, .w-p-s-3-pic, .w-p-s-4-left-pic, .w-p-s-4-right-pic {
      margin-bottom: 0 !important;
    }

  }
}

@media only screen and(min-width: 992px) {
  .work-description {
    position: relative;
    width: 100%;
    margin: 0;

    p {
      color: #000000;
      position: absolute;
      top: 7.4vh;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
    }
  }

  .pic-header, .sub-pic-header {
    margin: 0 !important;
  }
}

@media only screen and(min-width: 1300px) {
  .pics-container {
    .work-images {
      margin-bottom: 100px !important;
      .work-image {
        height: 329px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 360px !important;
    }

  }
}
@media only screen and(min-width: 1400px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 357px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 390px !important;
    }

  }
}
@media only screen and(min-width: 1500px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 385px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 422px !important;
    }

  }
}
@media only screen and(min-width: 1600px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 425px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 465px !important;
    }

  }
}
@media only screen and(min-width: 1700px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 461px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 506px !important;
    }

  }
}
@media only screen and(min-width: 1800px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 491px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 538px !important;
    }
  }
}
@media only screen and(min-width: 1900px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 520px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 570px !important;
    }
  }
}
@media only screen and(min-width: 2000px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 549px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 602px !important;
    }
  }
}
@media only screen and(min-width: 2100px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 579px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 634px !important;
    }
  }
}
@media only screen and(min-width: 2200px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 608px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 666px !important
    }
  }
}
@media only screen and(min-width: 2300px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 666px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 730px !important
    }
  }
}
@media only screen and(min-width: 2400px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 696px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 762px !important
    }
  }
}
@media only screen and(min-width: 2600px) {
  .pics-container {
    .work-images {
      .work-image {
        height: 754px !important;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 826px !important
    }
  }
}

