@media only screen and(min-width: 300px) {
  .work-description {
    width: 100%;
    margin: 81px 0 150px;
  }

  .work-pics {
    margin: 0 8%;
  }


  .work-buttons {
    margin-right: 0;
    overflow-y: scroll;
    margin-bottom: 50px;

    ul {
      height: 43px;
    }

    ul li:first-child {
      margin-left: 30px;
    }

    ul li {
      padding-right: 20px;

      button {
        height: 41px;
        border: 1px solid #707070;
        border-radius: 100px;
        opacity: 0.5;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        width: 133px;
      }
    }
  }
  .work-buttons::-webkit-scrollbar {
    display: none;
  }

  .work-pics {
    width: 100%;
    a:hover .work-pic .pic-header {
      text-decoration: underline;
    }
    a:hover {
      text-decoration: none;
    }
    .work-pic:hover .pic-header {
        text-decoration: underline;
    }

    img {
      width: 100%;
    }

    .pic-header {
      margin-top: 10px;
      margin-bottom: 0;
      font-family: Montserrat-Black, serif;
      font-size: 15px;
    }

    .sub-pic-header {
      margin-top: 5px;
      margin-bottom: 0;
      font-family: Montserrat-Regular, serif;
      font-size: 10px;
    }

    .w-p-s-1-left-pic, .w-p-s-1-right-pic, .w-p-s-2-left-pic, .w-p-s-2-right-pic, .w-p-s-3-pic, .w-p-s-4-left-pic, .w-p-s-4-right-pic {
      margin-bottom: 70px;
    }

    .work-pic {
      z-index: 5000 !important;
    }

    .work-pic:hover {
      z-index: 5000 !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and(min-width: 500px) {
  .work-pics {
    margin: 0;
  }
  .work-description {
    margin: 81px 0 0;
  }


  .work-buttons {
    margin-top: 242px;
    margin-bottom: 0;
    width: 100%;

    ul li:first-child {
      margin-left: 0;
    }

    ul li {
      margin-left: 0;
      padding-right: 20px;

      button {
        opacity: 1;
        height: 41px;
        border: 1px solid #707070;
        border-radius: 100px;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        padding: 0 25px;
        width: unset !important;
        transition: 0.3s;
      }

      .work-button-all {
        border: 2px solid #707070;
        opacity: 1;
      }

      .work-button-active {
        border: 2px solid #707070;
        transition: 0.3s;
        padding: 0 24px;
      }
    }
  }

  .pics-container {
    img {
      width: 100%;
    }
    .work-image-description {
      margin: 5vh 0 12vh;
    }
  }

  .work-pics {
    width: 100%;
    margin: 200px 8%;

    img {
      width: 100%;
    }

    .pic-header {
      font-family: Montserrat-Regular, serif;
      margin-top: 40px;
      font-size: 10px;
      margin-bottom: 10px;
    }

    .sub-pic-header {
      font-family: Montserrat-Black, serif;
      margin-top: 10px;
      font-size: 20px;
    }


    .work-pics-section-first {
      margin-bottom: 10vh;

    }



    .w-p-s-1-left-pic, .w-p-s-1-right-pic, .w-p-s-2-left-pic, .w-p-s-2-right-pic, .w-p-s-3-pic, .w-p-s-4-left-pic, .w-p-s-4-right-pic {
      margin-bottom: 50px !important;
    }

  }
}

@media only screen and(min-width: 992px) {
  .work-description {
    position: relative;
    margin: 0 0 13.4vh 0;
  }
  
  .work-pics {
    margin: 6.511% 0 19.5% 1%;
  }

  .pic-header, .sub-pic-header {
    margin: 0 !important;
  }

  .pics-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .work-images {
      transition: 0.7s;
      margin-bottom: 100px;

      .work-image {
        width: inherit;
        height: 26.4vw;
        outline: 1px solid #ffffff;
        cursor: pointer;
      }

      .work-image:hover ~ .work-image-description .sub-pic-header, .pic-header:hover ~ .sub-pic-header, .sub-pic-header:hover {
        text-decoration: underline;
      }

      .pic-header, .sub-pic-header {
        cursor: pointer;
      }

      .work-image-description {
        margin: 5vh 0 0 0;
      }



      .work-images:nth-child(2n+1) {
        margin-right: 50px;
      }

      .work-images:nth-child(2n) {
        margin-left: 50px;
      }
    }
    .work-images:nth-child(5) {
      margin-bottom: 0 !important;
    }
    .work-images:nth-child(6) {
      margin-bottom: 0 !important;
    }
    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 28.4vw;
    }

    .last-section {
      margin-bottom: 300px !important;
    }

    .w-p-s-1-right-pic, .w-p-s-2-right-pic, .w-p-s-4-right-pic {
      .pic-header {
        margin-top: 34px;
      }
    }

    .work-pics-section-second {
      margin-bottom: 10vh;

      .w-p-s-2-left-pic {
        width: 65.2%;

        img {
          width: 100%
        }
      }

      .w-p-s-2-right-pic {
        width: 27.4%;

        img {
          width: 100%;
        }

      }
    }

    .work-pics > div,
    .work-pics-section-first > div,
    .work-pics-section-second > div,
    .work-pics-section-third > div,
    .work-pics-section-fourth > div {
      display: inline-block;
      position: relative;
    }

    .work-pics-section-third {
      margin-top: 111.64px;

      .w-p-s-3-pic {
        img {
          width: 100%;
        }
      }
    }

    .work-pics-section-fourth {
      margin-top: 158.1px;
      margin-bottom: 191px;

      .w-p-s-4-left-pic {

        img {
          width: 100%
        }
      }

      .w-p-s-4-right-pic {
        img {
          width: 100%;
        }
      }
    }


    .work-pic {
      z-index: 5000 !important;
      transition: 0.3s;

      .title {
        text-align: center;
        opacity: 0;
        transition: 0.3s;
        visibility: hidden;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        p {
          color: #ffffff;
        }
      }
    }
  }
}
@media only screen and(min-width: 1100px) {
  .pics-container {
    .work-images {
      margin-bottom: 100px !important;
      .work-image {
        height: 26.4vw;
      }
    }

    .work-images:nth-child(3) img, .work-images:nth-child(4) img {
      height: 28.4vw;
    }

  }
}
