<div class="container-fluid">
  <div class="row">
    <div class="work-description">
      <p class="page-header">some works</p>
    </div>
    <div *ngIf="screenSize > 800" class="work-pics">
      <div class="pics-container">
        <div *ngFor="let pic of array | filter:filterargs" [routerLink]="pic.routerLink" class="work-images">
          <img class="work-image" [src]="pic?.src" aTilt [tiltSettings]="tiltSettings">
          <div class="work-image-description">
            <p [innerHTML]="pic?.companyName" class="pic-header"></p>
            <p [style.height]="elemHeight" [id]="pic?.id" [innerHTML]="pic?.projectName" class="sub-pic-header"></p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="screenSize < 800" class="work-pics">
      <ul class="list-group">
        <li *ngFor="let smallPic of array" [routerLink]="smallPic.routerLink">
          <img [src]="smallPic?.src" alt="">
          <p [innerHTML]="smallPic?.companyName" class="pic-header"></p>
          <p [innerHTML]="smallPic?.projectName" class="sub-pic-header"></p>
        </li>
      </ul>
    </div>

  </div>
</div>
