@media only screen and(min-width: 300px) {
  .work-description {
    width: 100%;
    margin: 12.1vh 0 150px;

    p {
      color: #000000;
      font-family: Montserrat-Black, serif;
      font-size: 30px;
    }
  }

  .work-description p, .work-buttons, .work-pics {
    margin: 0 30px;
  }


  .work-buttons {
    margin-right: 0;
    overflow-y: scroll;
    margin-bottom: 50px;
    ul li {
      margin-right: 20px;
      button {
        height: 41px;
        border: 1px solid #707070;
        border-radius: 100px;
        opacity: 0.5;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        width: 133px;
      }
      .work-button-all {
        width: 71px;
        border: 2px solid #707070;
        opacity: 1;
      }
      .work-button-creative {
        width: 133px;
      }
      .work-button-design {
        width: 121px;
      }
    }
  }
  .work-buttons::-webkit-scrollbar {
    display: none;
  }

  .work-pics {
    width: 315px;
    .work-pics-section-first {
      .w-p-s-1-left-pic {
        height: 315px;
        width: 100%;
        background: url('../../../assets/work-assets/mob-10x.png') no-repeat center center;
        background-size: cover;
      }
      .w-p-s-1-right-pic {
        width: 100%;
        height: 177px;
        background: url('../../../assets/work-assets/mob-pulmenti.png') no-repeat center center;
        background-size: cover;
      }
    }

    .work-pics-section-second {
      .w-p-s-2-left-pic {
        width: 100%;
        height: 174px;
        background: url('../../../assets/work-assets/42x.png') no-repeat center center;
        background-size: cover;
      }
      .w-p-s-2-right-pic {
        width: 100%; // 476.83px
        height: 314px;
        background: url('../../../assets/work-assets/IG2x.png') no-repeat center center;
        background-size: cover;
      }
    }


    .work-pics-section-third {
      .w-p-s-3-pic {
        width: 100%; // 1587px;
        height: 176px;
        background: url('../../../assets/work-assets/(2)2x.png') no-repeat center center;
        background-size: cover;
      }
    }

    .work-pics-section-fourth {
      .w-p-s-4-left-pic {
        width: 100%;
        height: 419px;
        background: url('../../../assets/work-assets/AdAgeGatefold2x.png') no-repeat center center;
        background-size: cover;
      }

      .w-p-s-4-right-pic {
        width: 100%; //908.31px;
        height: 241px;
        background: url('../../../assets/work-assets/photo-1566018675136-215d7d65a3c32x.png') no-repeat center center;
        background-size: cover;
      }
    }

    .w-p-s-1-left-pic, .w-p-s-1-right-pic, .w-p-s-2-left-pic, .w-p-s-2-right-pic, .w-p-s-3-pic, .w-p-s-4-left-pic, .w-p-s-4-right-pic {
      margin-bottom: 70px;
    }
    .work-pic {
      z-index: 5000 !important;
    }

    .work-pic:hover {
      z-index: 5000 !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and(min-width: 500px) {
  .work-description {
    width: 100%;
    margin: 12.1vh 0 0;

    p {
      color: #000000;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
    }
  }


  .work-buttons {
    margin-top: 291px;
    ul li {
      margin-right: 20px;
      button {
        height: 41px;
        border: 1px solid #707070;
        border-radius: 100px;
        opacity: 0.5;
        background: transparent no-repeat 0 0;
        font-size: 20px;
        width: 133px;
      }
      .work-button-all {
        width: 71px;
        border: 2px solid #707070;
        opacity: 1;
      }
      .work-button-creative {
        width: 133px;
      }
      .work-button-design {
        width: 121px;
      }
    }
  }

  .work-pics {
    margin-top: 158px;
    width: auto;
    div {
      display: inline-block;
    }
    .work-pics-section-first {
      .w-p-s-1-left-pic {
        height: 559.44px;
        width: 559.44px;
        margin-right: 62.64px;
        background: url('../../../assets/work-assets/22x.png') no-repeat center center;
        background-size: cover;
      }
      .w-p-s-1-right-pic {
        width: 994.07px;
        height: 559.44px;
        background: url('../../../assets/work-assets/32x.png') no-repeat center center;
        background-size: cover;
      }
    }

    .work-pics-section-second {
      margin-top: 111.64px;
      margin-left: 28px;
      .w-p-s-2-left-pic {
        width: 998.53px;
        height: 554.74px;
        background: url('../../../assets/work-assets/42x.png') no-repeat center center;
        background-size: cover;
        margin-right: 62.64px;
      }
      .w-p-s-2-right-pic {
        width: 555.83px; // 476.83px
        height: 554.74px;
        background: url('../../../assets/work-assets/IG2x.png') no-repeat center center;
        background-size: cover;
      }
    }


    .work-pics-section-third {
      margin-top: 111.64px;
      margin-left: 28px;

      .w-p-s-3-pic {
        width: 1667px; // 1587px;
        height: 926.86px;
        background: url('../../../assets/work-assets/(2)2x.png') no-repeat center center;
        background-size: cover;
      }
    }

    .work-pics-section-fourth {
      margin-top: 158.1px;
      margin-bottom: 191px;
      margin-left: 28px;
      .w-p-s-4-left-pic {
        width: 566.69px;
        height: 755.58px;
        margin-right: 62.64px;
        background: url('../../../assets/work-assets/AdAgeGatefold2x.png') no-repeat center center;
        background-size: cover;
      }

      .w-p-s-4-right-pic {
        width: 985.31px; //908.31px;
        height: 755.77px;
        background: url('../../../assets/work-assets/photo-1566018675136-215d7d65a3c32x.png') no-repeat center center;
        background-size: cover;
      }
    }

    .work-pic {
      z-index: 5000 !important;
    }

    .work-pic:hover {
      z-index: 5000 !important;
    }
  }
}

@media only screen and(min-width: 992px) {
  .work-description {
    position: relative;
    width: 100%;
    margin: 0;

    p {
      color: #000000;
      position: absolute;
      top: 8vh;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
    }
  }
}

