<div class="container-fluid">
  <div class="row">
    <div class="contact-description">
      <p class="page-header">THANK YOU</p>
    </div>
    <div class="description">
      <p class="content-text">
        We’ll get in touch <span class="bold-text">within a week</span> for our first briefing session.
        <br><br>
        In the meantime, prepare for an epic journey with Zuck.
      </p>
    </div>
    <div class="soc-nets">
      <ul [ngClass]="screenSize >= 992 ? 'list-group list-group-horizontal' : 'list-group list-group-vertical'">
        <li><a href="https://www.facebook.com/zuckandberg/" target="_blank">facebook</a></li>
        <li><a href="https://www.instagram.com/zuckandberg/" target="_blank">instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UC4s1AHkPidWN34CiZd9SwKA" target="_blank">youtube</a></li>
      </ul>
    </div>
  </div>
</div>
