/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and(min-width: 300px) {
  .contact-description {
    width: 100%;
    margin: 81px 0 150px;
  }

  .description {
    width: 100%;
    margin-bottom: 60px;
  }

  .bold-text {
    font-family: Montserrat-ExtraBold,serif;
  }

  .soc-nets {
    margin: 0 8% 130px;
    ul {
      padding: 0;

      li {
        margin-bottom: 20px;

        a {
          font-size: 20px;
          font-family: Montserrat-Bold, serif;
          color: #000000;
          cursor: pointer;
        }
        a:hover {
          text-decoration: underline;
        }
      }

    }
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and(min-width: 992px) {
  .contact-description {
    position: relative;
    margin: 0;
  }

  .description {
    margin: 6.593% 0 0 0;
  }



  .soc-nets {
    margin: 0 0 280px;
    ul {
      padding: 0;

      li {
        margin-right: 67px;

        a {
          font-size: 20px;
          font-family: Montserrat-ExtraBold, serif;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }
}
