<div class="container-fluid">
  <div class="row">
    <div class="vacancy-description">
      <p>copywriter</p>
    </div>
    <div class="vacancy-info">
      <ul>
        <li>
          <div class="info-header">term</div>
          <div class="info-content">full-time</div>
        </li>
        <li>
          <div class="info-header">duration</div>
          <div class="info-content">permanent</div>
        </li>
        <li>
          <div class="info-header">location</div>
          <div class="info-content">Yerevan | Armenia</div>
        </li>
        <li>
          <div class="info-header">opening date</div>
          <div class="info-content">20 sep 2019</div>
        </li>
        <li>
          <div class="info-header">application deadline</div>
          <div class="info-content">31 oct 2019</div>
        </li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>job responsibilities</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>- Produce creative and effective work for clients across all media types including but not limited to television, radio, print, digital, outdoor, and collateral</li>
        <li>- Concepting and collaborating with creative teams to develop ideas</li>
        <li>- Understand the message the client wants to deliver and translate it into attractive, unique copy</li>
        <li>- Write perfect, pleasing copy that will engage readers</li>
        <li>- Accept feedback and use it to grow and improve</li>
        <li>- Produce creative ideas for innovative campaigns</li>
        <li>- Write copy that reinforces our brand tone and personality</li>
        <li>- Write copy for various media, including for use in web, social, digital, print, events and campaigns</li>
        <li>- Participating in editorial meetings, offering ideas and guidance for content development</li>
        <li>- Participate in client meetings</li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>required qualifications</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>- Knowledge of internet marketing, social networking and sales skills</li>
        <li>- Knowledge of marketing analysis and planning</li>
        <li>- Excellent interpersonal, writing and communications skills</li>
        <li>- Excellent knowledge of Armenian, English and Russian languages</li>
        <li>- Open-minded and Independent person</li>
        <li>- have an interest in commerce, popular culture, and new advertising trends and techniques</li>
      </ul>
    </div>

    <div class="vacancy-header">
      <span>share this article with freinds</span>
    </div>
    <!--<div class="social">-->
      <!--<ul class="list-group">-->
        <!--<li>via facebook</li>-->
        <!--<li>via massanger</li>-->
        <!--<li>via viber</li>-->
        <!--<li>via whats app</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
