<div class="container-fluid">
  <div class="row">
    <div class="z-description">
      <p>Purchase <span>Funnel</span>. Vol Z<span>Funnel</span></p>
    </div>
    <div *ngIf="screenSize > 992" class="z-banner">
      <img src="../../../assets/agencyAssets/tigran-article-final1web.png" alt="">
    </div>
    <div *ngIf="screenSize < 992" class="z-banner">
      <img src="../../../assets/agencyAssets/tigran-article-final1web.png" alt="">
    </div>
    <div class="story-text border-left">
      <p>
        In this day and age, it is difficult to imagine any process without conversion and the end result, especially in
        the sphere of digital engagement. It is very important to adapt to the daily changes in marketing, sales and
        purchasing. It's hard, but you gotta do what you gotta do.
        <br> <br>
        No matter if you graduated from UFAR, RAU, AUA or YSU, if you've had the big pleasure of finding yourself in
        marketing or advertising, you've definitely heard the funnel theories of Kotler, Elmo Lewis, Armstrong. One is
        top down, the other one – bottom-up, third one is left to right or vice versa. And these unadapted funnels are
        still being "fed" to unsuspecting students.
        <br> <br>
        I’m lucky I'm a biologist. And that's why I'm approaching this question from a biological, or if you will,
        instinctual point of view. You know, it’s like one of those theories where 1+1=2 for a mathematician and 1+1=3
        for a biologist.
      </p>
    </div>
    <div class="story-part">
      <p>
        <span>Having been in marketing since 2010, you begin to realize that not adapting to market changes is a lot like ossifying. If you don’t move, you stiffen up and roughly said become disabled.</span>
      </p>
    </div>
    <div class="story-text border-left">
      <p>
        After this long intro, let's move on to the main theme – the purchase funnel (which is not really a funnel, but
        a horizontal pipe). Below you can see the schematic representation of the purchase pipe, and the explanation and
        biological meaning of all the items under the image.
      </p>
    </div>
    <div class="story-text border-left">
      <p class="sub-story-text">
        <span>Stage 1։ “Anatomical Glue”</span>
      </p>
      <p>
        Description․ At this stage, we need to send the key message to cold leads and give them a mini bait with
        glue-effect. It’s worth mentioning that the bait is not a free cheese in the mousetrap, but, for instance, a 1
        dollar cheese - the conversion rate and the reach of the right audience will be better in this case.
        <br> <br>
        Channels․ Social media platforms, articles, media sources.
        <br> <br>
        Objective․ Increase brand awareness, collect personal data, sequence the leads.
      </p>
    </div>

    <div class="story-text border-left">
      <p class="sub-story-text">
        <span>Stage 2։ “Physiological pill”</span>
      </p>
      <p>
        Description․ Here we need to open the key message to our already warm leads and burn a physiological need in
        their organisms to purchase our product or service. To do that, we need to give them a pill after the glue, so
        that they can bear the main product or service. Usually we need to give them a valerian infusion.
        <br> <br>
        Channels․ Retargeting of cold leads, initial interest
        <br> <br>
        Objective․ Prepare the client for the boiling process.
      </p>
    </div>
    <div class="story-text border-left">
      <p class="sub-story-text">
        <span>Stage 3։ “Breath in, hold your breath… good!”</span>
      </p>
      <p>
        Description․ Your customer is ready to be fried so all you gotta do now is change the entourage, add 2 spoons of
        interaction and show the customer that they really matter to us.
        <br> <br>
        Channels․ Contests, giveaways, email sendouts, AI integration, loyalty programs, etc.
        <br> <br>
        Objective․ Keep the customer and smoothly increase the customer’s interest in the brand.
      </p>
    </div>
    <div class="story-text border-left">
      <p class="sub-story-text">
        <span>Stage 4։ “Endemic Diversity”</span>
      </p>
      <p>
        Description․ When the customer has already made a purchase, taken part in contests and loyalty programs, you
        need to show them the whole diversity of your products/services. At this stage you are able to filter out the
        one-night stands and only keep the most loyal customers.
        <br> <br>
        Channels․ Up-Sell, Next-Sell, Cross-Sell
        <br> <br>
        Objective․ Increase return on investment (ROI), create an atmosphere of complete integrity.
      </p>
    </div>
    <div class="story-text border-left">
      <p class="sub-story-text">
        <span>Stage 5։ “Biology Amplitude”</span>
      </p>
      <p>
        Description․ At the nominal last stage, we need to activate the function of word of mouth, use referral and
        affiliate programs as well as design the roadmap of nominal 1-year support circle which will ensure that the
        customer will remain in your business areal.
        <br> <br>
        Channels․ Referral and affiliate programs, media campaigns, email campaigns, retargeting.
        <br> <br>
        Objective․ Create comfortable conditions for the customers to keep the minimal negative turnover.

      </p>
    </div>
    <div class="publication-date">
      <div><span>publication date</span></div>
      <div><span>20 aug 2019</span></div>
    </div>
    <div class="share">
      <span>share this article with frinds</span>
    </div>
    <!--<div class="social">-->
      <!--<ul class="list-group">-->
        <!--<li>via instagram</li>-->
        <!--<li>via insta message</li>-->
        <!--<li>via facebook</li>-->
        <!--<li>via messenger</li>-->
        <!--<li>via viber</li>-->
        <!--<li>via whats app</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
