<div class="container-fluid">
  <div class="row">
    <div class="case-description">
      <span>AdAge cover competition</span>
    </div>
    <div class="case-info">
      <ul>
        <li>
          <div class="info-header">client</div>
          <div class="info-content">AdAge Magazine</div>
        </li>
        <li>
          <div class="info-header">location</div>
          <div class="info-content">Yerevan | Armenia</div>
        </li>
        <li>
          <div class="info-header">date</div>
          <div class="info-content">20 sep 2019</div>
        </li>
        <li>
          <div class="info-header">work type</div>
          <div class="info-content">design | creative</div>
        </li>
      </ul>
    </div>
  </div>
</div>
