<div class="container-fluid">
  <div class="row">
    <div class="z-description">
      <p>A study in silver: a f*ck up story <br> <span>By Mane Mkrtchyan Copywriter</span></p>
    </div>
    <div class="z-banner">
      <img src="../../../assets/agencyAssets/Cover.png" alt="">
    </div>
    <div class="story-text">
      <p>
        All facts recounted below are real and - in line with our profession of choice - somewhat exaggerated. A tiny
        disclaimer before you read the rest: this text was originally in Russian and may have lost some of its flair
        (but none of its truth) in translation.
        <br><br>
        Well… where do we start? Perhaps with a piece of advice about how not to screw up a photoshoot?... or perhaps
        some wisdom on how to get a young lady to get into the doggy position without getting your own ass handed to
        you.
        <br><br>
        The story was underway long before the D-Day, when our moderately sane team decided to take off a stripper’s
        clothes in order to take her photos. Why a stripper? Selection criteria included flexibility, fitness and
        readiness to show some skin - the model’s sphere of work had nothing to do with it.
        <br><br>
        As it turned out, the stripper was not an ordinary one, but a silver one. But, as we’re all well aware, silver
        always strives for gold. While we’re here, let’s take a break with a little advice.

      </p>
    </div>
    <div class="story-part">
      <p>
        <span>Huge Advice 1:</span> Silver strippers should preferably be paid in gold. Ideally, in gold coupons.
      </p>
    </div>
    <div class="story-text">
      <p>
        Where were we? Ah yes.
        So we took the stripper, painted her long, intimidatingly fit body with a silver spray and put her in a
        bodysuit, which in her words turned out to be “UNSEXY”. After some discussion about our model’s “comfort zone”,
        we decided to shoot her wearing nothing. Well, practically nothing. And so, we sent a team member running
        through the stuffy streets of Yerevan in pursuit of white G-Strings size XXXS.

      </p>
    </div>
    <div class="story-part">
      <p>
        <span>Huge Advice 2:</span> When shopping for G-Strings, give preference to cotton, since it absorbs spray paint
        better.
      </p>
    </div>
    <div class="story-text">
      <p>
        But even the tiny underwear couldn’t win over her heart. And the reason was that our model worked a full night
        in the entertainment industry and in the morning couldn’t come to terms with our gray reality or rather, our
        silver photoshoot.
        <br><br>
        After some lengthy psycho-motivational bla-bla-bla, we finally managed to get into the Silver Eldorado - into
        the studio. But, as it turned out in the studio, the whole reason for the model’s bad mood was not the bodysuit
        or the lack of sleep. The reason for all human problems - MONEY. Due to this meet-up, our coordinator learnt
        that she lived her whole life wrong and that the coupons we paid our model, she could have earned in an hour and
        that opening her mouth in front of the camera was not included in her modeling services.
      </p>
    </div>
    <div class="story-part">
      <p>
        <span>Huge Advice 3:</span> talk to the model with a pre-approved glossary, otherwise every word you say can be
        interpreted differently. When working with a stripper, never use phrases like “open your mouth” or “get on your
        knees”.
      </p>
    </div>
    <div class="story-text">
      <p>
        Oh, by the way, the culmination of the whole story was actually in the knees. In response to our photographer’s
        request to get on her knees and look into the floor mirror, the model answered “I’m not getting into the doggy
        position”, which loosely translates into “YOU SICK PERFERTS, WHO DO YOU THINK I AM?” and, well, left us.
        <br><br>
        This is how, for the first and last time, we got dumped by a stripper, because next time we work with dancing
        ladies is when doggys learn to pole-dance.
        <br><br>
        The moral of the story is - when working with a stripper, plan your day so that she comes to the photoshoot
        after a full night’s sleep, be mindful of your choice of underwear and be very conscious of every phrase that
        you use.
      </p>
    </div>
    <div class="publication-date">
      <div><span>publication date</span></div>
      <div><span>20 aug 2019</span></div>
    </div>
    <div class="share">
      <span>share this article with frinds</span>
    </div>
    <div class="social">
      <ul class="list-group">
        <li>via instagram</li>
        <li>via insta message</li>
        <li>via facebook</li>
        <li>via messenger</li>
        <li>via viber</li>
        <li>via whats app</li>
      </ul>
    </div>
  </div>
</div>
