/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: Montserrat-Bold;
  src: url("/assets/montserratbold.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Black;
  src: url("/assets/montserratblack.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/montserratregular.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("/assets/montserratextrabold.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("/assets/montserratmedium.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/assets/montserratsemibold.ttf") format("truetype");
}

*:focus {
  outline: none;
}


a {
  cursor: default;
}

.link-cursor {
  cursor: pointer !important;
}

.submit-button, .order-button {
  button {
    cursor: pointer !important;
    font-size: 18px;
    font-family: Montserrat-Bold, serif !important;
    width: 205px;
    height: 63px;
    background: #fff;
    border: 1px solid #707070;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
  }
}

.link-cursor:hover .underline  {
  text-decoration: underline;
}

html, body {
  height: 100%
}

body {
  margin: 0;
  color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
  background: #F2F2F2;
}


::-webkit-scrollbar-thumb {
  background: #bdc1c6;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

ul, li {
  list-style-type: none;
}

button:focus {
  outline: none !important;
}

span, p, li {
  color: #000000;
}
@media only screen and(min-width: 300px) {
  .page-header {
    color: #000000;
    font-family: Montserrat-Black, serif;
    font-size: 40px;
    margin: 0 8%;
    line-height: 34px;
  }

  .page-sub-header {
    font-family: Montserrat-Regular, serif;
    font-size: 25px;
    margin: 4% 8% 0;
  }

  .content-heading {
    font-family: Montserrat-Black, serif;
    font-size: 30px;
    margin: 0 8% 50px;
  }

  .content-text {
    line-height: 1.6rem;
    font-size: 15px;
    font-family: Montserrat-Regular, serif;
    margin: 0 8% 50px;
  }
}

@media only screen and(min-width: 992px) {
  .page-header {
    line-height: unset !important;
    margin: 7.7vh 0 0 0;
  }

  .page-sub-header {
    font-size: 25px;
    margin: 20px 0 0 0;
  }

  .content-heading {
    font-size: 35px;
    margin: 0 0 6.511%;
  }

  .content-text {
    width: 54.3vw;
    font-size: 17px;
    margin: 0 0 6.511%;
  }
}

@media only screen and(min-width: 1600px) {
  .page-header {
    font-size: 45px;
  }

  .page-sub-header {
    font-size: 30px;
  }

  .content-heading {
    font-size: 40px;
  }

  .content-text {
    font-size: 20px;
  }
}


/*   HAMBURGER !!   */


$hamburger-layer-height: 1px !default;
$hamburger-layer-width: 32px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-padding-y: 15px !default;
$hamburger-padding-x: 15px !default;
$hamburger-layer-color: #000 !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-active-layer-color: $hamburger-layer-color !default;


.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

}

.hamburger-box {
  width: 32px;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -12px;
  }

  &::after {
    bottom: -12px;
  }
}

.hamburger--spin {
  .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in,
      opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
        opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
