/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@font-face {
  font-family: Montserrat-Bold;
  src: url("/assets/montserratbold.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Black;
  src: url("/assets/montserratblack.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Regular;
  src: url("/assets/montserratregular.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-ExtraBold;
  src: url("/assets/montserratextrabold.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-Medium;
  src: url("/assets/montserratmedium.ttf") format("truetype");
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("/assets/montserratsemibold.ttf") format("truetype");
}
*:focus {
  outline: none;
}

* {
  cursor: default !important;
}
html,body {height: 100%}
body {
  margin: 0;
  color: #000000;
}
::-webkit-scrollbar {
  width: 8px;
  background: #F2F2F2;
}


::-webkit-scrollbar-thumb {
  background: #bdc1c6;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

ul, li {
  list-style-type: none;
}

button:focus {
  outline: none !important;
}

span, p, li {
  color: #000000;
}

/*   HAMBURGER !!   */


$hamburger-layer-height: 1px !default;
$hamburger-layer-width: 32px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-padding-y: 15px !default;
$hamburger-padding-x: 15px !default;
$hamburger-layer-color: #000 !default;
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;
$hamburger-hover-opacity: 0.7 !default;
$hamburger-active-hover-filter: $hamburger-hover-filter !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;


.hamburger {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  /*&:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
    }
  }

  &.is-active {
    &:hover {
      @if $hamburger-hover-use-filter == true {
        filter: $hamburger-active-hover-filter;
      }
      @else {
        opacity: $hamburger-active-hover-opacity;
      }
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $hamburger-active-layer-color;
    }
  }*/
}

.hamburger-box {
  width: 32px;
  height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: $hamburger-layer-height;
    background-color: $hamburger-layer-color;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -12px;
  }

  &::after {
    bottom: -12px;
  }
}

.hamburger--spin {
  .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in,
      opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
        opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
