@media only screen and(min-width: 300px) {
  .contact-items, .menu, .menu-items {
    position: fixed;
    left: 30px;
  }
  nav {
    .logo {
      left: 30px;
      z-index: 200;
      position: fixed;
      top: 30px;
      line-height: 4;
      width: 55px;
      height: 21px;
      background: url("../../../assets/Zucklogo.svg") no-repeat center;
    }

    .menu {
      top: 30px;
      right: 30px;
      left: unset;
      .hamburger {
        padding: 0;
      }
    }
  }
  .menu:focus, .menu button:focus {
    outline: none;
  }

  .menu-items {
    top: calc(100vh - 60vh);
    ul {
      padding: 0;
      li {
        margin-bottom: 10px;
        font-size: 25px;
        font-family: Montserrat-ExtraBold, serif;
        color: #000000;
      }
    }
  }
  .contact-items {
    top: 72vh;
    ul {
      padding: 0;
      li {
        margin-bottom: 5px;
        a {
          font-size: 15px;
          font-family: Montserrat-Regular, serif;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }

  .menu-items, .contact-items {
    opacity: 0;
    visibility: hidden;
  }

  .logo2, .opened-logo  {
    transition: 0.3s;
  }

  .logo2 {
    background: url("../../../assets/Zucklogo2.svg") no-repeat center;
    width: 132px;
    top: 26px;
    line-height: 4;
    height: 29px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    left: 30px;
  }

  .opened-logo {
    opacity: 1;
    visibility: visible;
  }

  .menu-bar {
    height: 81px;
    width: 100%;
    background: #ffffff;
    z-index: 3000 !important;
    position: fixed;
  }

  .opened-menu {
    width: 100%;
    nav {
      position: fixed;
    }
  }

  .sub-category {
    font-size: 17px !important;
    font-family: Montserrat-Medium, serif !important;
    text-decoration: underline;
    margin-bottom: 5px !important;
  }

  .opened-menu-content {
    width: 82.7%;
    overflow-x: hidden;
    visibility: hidden !important;
  }

  .content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .order-button, .submit-button {
    bottom: calc(100vh - 93.4%);
    position: fixed;
    button {
      font-size: 15px;
      font-family: Montserrat-Bold, serif !important;
      width: 155px;
      height: 39px;
      background: #fff;
      border: 1px solid #707070;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
    }
  }
  .order-button {
    z-index: 3000;
    left: 30px;
  }
  .submit-button {
    left: calc(100vw - 400px);
    button {
      width: 294px;
    }
  }
  .hamburger {
    margin: 0 !important;
  }
  .order-button-opened {
    visibility: hidden !important;
  }
}

@media only screen and(min-width: 992px) {
  nav {

      .logo, .logo2 {
        position: unset !important;
      }
      .logo {
        float:left;
        width: 55px;
        height: 67px;
        background: url("../../../assets/Zucklogo.svg") no-repeat center;
      }


    .menu {
      bottom: calc(100vh - 91.5%);
      right: unset;
      left: unset;
      top: unset;
    }
  }
  nav:first-child {
    display: inline-block;
    margin: 7.4vh 0 0 5.3vw;
  }
  .menu:focus, .menu button:focus {
    outline: none;
  }

  .menu-items {
    top: 42%;
    left: unset;
    right: unset;
    ul {
      padding: 0;
      li {
        margin-bottom: 10px;
        font-size: 25px;
        font-family: Montserrat-ExtraBold, serif;
        color: #000000;
      }
    }
  }
  .contact-items {
    top: 66.9%;
    left: unset;
    right: unset;
    ul {
      padding: 0;
      li {
        margin-bottom: 5px;
        a {
          font-size: 15px;
          font-family: Montserrat-Regular, serif;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }

  .menu-bar, .opened-menu, .opened-menu-content, .content {
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
  }
  .menu-items, .contact-items {
    opacity: 0;
    visibility: hidden;
  }

  .logo2, .opened-logo, .menu-items, .contact-items  {
    transition: 0.3s;
  }

  .logo2 {
    background: url("../../../assets/Zucklogo2.svg") no-repeat center;
    width: 132px;
    top: unset;
    bottom: calc(100% - 115px);
    line-height: 4;
    height: 67px;
    visibility: hidden;
    opacity: 0;
    left: unset;
    right: calc(100% - 202px);
  }

  .opened-logo {
    opacity: 1;
    visibility: visible;
  }

  .menu-bar {
    height: 100vh;
    width: 19%;
    position: inherit !important;
  }

  .opened-menu {
    height: 100vh;
    width: 25%;
  }


  .opened-menu-content {
    width: 75%;
    overflow-x: hidden;
    visibility: visible !important;
  }

  .content {
    width: 81%;
    overflow-x: hidden;
    height: 100%;
  }


  .sub-category {
    font-size: 17px !important;
    font-family: Montserrat-Medium, serif !important;
    text-decoration: underline;
    margin-bottom: 5px !important;
  }

  .order-button, .submit-button {
    bottom: 4.5%;
    position: fixed;
    top: inherit;
    button {
      font-size: 18px;
      font-family: Montserrat-Bold, serif !important;
      width: 205px;
      height: 63px;
      background: #fff;
      border: 1px solid #707070;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
    }
  }
  .order-button {
    z-index: 3000;
    left: calc(100vw - 300px);
  }
  .submit-button {
    left: calc(100vw - 400px);
    button {
      width: 294px;
    }
  }
  .order-button-opened {
    visibility: visible !important;
  }
}



@media only screen and(min-width: 1100px) {
  .menu-bar {
    width: 14%;
  }

  .content {
    width: 86%;
  }

  .opened-menu {
    width: 21%;
  }

  .opened-menu-content {
    width: 79%;
  }

}

@media only screen and(min-width: 1300px) {
  /*.contact-items, .logo, .menu-items, .logo2 {
    position: fixed;
    left: unset;
  }*/
  /*nav {
    .logo {
      right: calc(100vw - 125px);
      z-index: 200;
      top: 8.2vh;
      line-height: 4;
      width: 55px;
      height: 67px;
      background: url("../../../assets/Zucklogo.svg") no-repeat center;
    }
    .contact-items {

    }
  }
  .menu:focus, .menu button:focus {
    outline: none;
  }

  .menu-items {
    top: 44%;
    ul {
      padding: 0;
      li {
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 25px;
        font-family: Montserrat-ExtraBold, serif;
        color: #000000;
      }
    }
  }*/
  .contact-items {
    // top: 69.9%;
    ul {
      padding: 0;
      li {
        margin-bottom: 5px;
        a {
          font-size: 15px;
          font-family: Montserrat-Regular, serif;
          color: #000000;
          text-decoration: none;
        }
      }
    }
  }

  .menu-bar, .opened-menu, .opened-menu-content, .content {
    -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;
  }

  .menu-bar {
    width: 14%;
  }

  .content {
    width: 78%;
  }

  .opened-menu {
    width: 20%;
  }

  .opened-menu-content {
    width: 80%;
  }

  .menu-items, .contact-items {
    opacity: 0;
    visibility: hidden;
  }

  .opened-logo {
    opacity: 1;
    visibility: visible;
  }



  .sub-category {
    font-size: 17px !important;
    font-family: Montserrat-Medium, serif !important;
    text-decoration: underline;
    margin-bottom: 5px !important;
  }

  .order-button, .submit-button {
    top: calc(100vh - 121px);
    position: fixed;
    button {
      font-size: 18px;
      font-family: Montserrat-Bold, serif !important;
      width: 205px;
      height: 63px;
      background: #ffffff;
      border: 1px solid #707070;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      border-radius: 35px;
    }
  }
  .order-button {
    z-index: 3000;
    left: calc(100vw - 300px);
  }
  .submit-button {
    left: calc(100vw - 400px);
    button {
      width: 294px;
    }
  }
  .hamburger {
    margin: 15px 15px 15px 0;
  }
}


@media only screen and(min-width: 1600px) {
  .menu-bar {
    width: 13.7%;
  }

  .content {
    width: 80%;
  }

  .opened-menu {
    width: 16.3%;
  }

  .opened-menu-content {
    width: 83.7%;
  }
}

@media only screen and(min-width: 1700px) {
  .menu-bar {
    width: 13.4%;
  }

  .content {
    width: 81.35%;
  }

  .opened-menu {
    width: 17.3%;
  }

  .opened-menu-content {
    width: 82.7%;
  }
}

