@media only screen and(min-width: 300px) {
  .vacancy-description {
    width: 100%;
    margin: 13.1vh 0 150px;
    p {
      font-family: Montserrat-Black, serif;
      font-size: 40px;
      letter-spacing: 2px;
      font-weight: 900;
      line-height: 43px;
    }
  }

  .vacancy-description p, .vacancy-info, .responsibilities-list, .vacancy-header, .social  {
    margin: 0 8%;
  }

  .vacancy-info {
    margin-bottom: 120px;
    ul {
      margin: 0;
      padding: 0;
      li {
        margin-right: 85px;
        display: inline-block;
        .info-header {
          font-family: Montserrat-ExtraBold, serif;
          font-size: 15px;
          margin-bottom: 10px;
          color: #000000;
        }

      }
    }
  }

  .info-content {
    font-family: Montserrat-Regular, serif;
    font-size: 15px;
    color: #000000;
    margin-bottom: 30px;
  }

  .vacancy-text {
    padding: 0 344px 300px 0;
    p {
      font-size: 20px;
      font-family: Montserrat-Regular, serif;
    }
  }
  .vacancy-header {
    margin-bottom: 50px;
    width: 100%;
    line-height: 40px;
    span {
      font-family: Montserrat-Black, serif;
      font-size: 30px;
    }
  }
  .responsibilities-list {
    margin-bottom: 130px;
    ul li {
      line-height: 18px;
      margin-bottom: 20px;
      font-size: 15px;
      font-family: Montserrat-Regular,serif;
    }
  }
  .social {
    margin-bottom: 150px;
    ul li {
      font-size: 20px;
      font-family: Montserrat-Bold, serif;
      margin-bottom: 20px;
    }
  }

}
@media only screen and(min-width: 992px) {
  .vacancy-description p, .vacancy-info, .responsibilities-list, .vacancy-header, .social  {
    margin: 0;
  }
  .vacancy-description {
    position: relative;
    width: 100%;
    margin: 0;

    p {
      line-height: inherit;
      position: absolute;
      top: 7.4vh;
      font-family: Montserrat-Black, serif;
      font-size: 45px;
      letter-spacing: 2px;
      font-weight: 900;
    }
  }

  .vacancy-info {
    margin: 220px 0 150px;
    ul {
      padding: 0;
      li {
        margin-right: 85px;
        display: inline-block;
        .info-header {
          font-family: Montserrat-ExtraBold, serif;
          font-size: 20px;
          margin-bottom: 20px;
          color: #000000;
        }

      }
    }
  }

  .info-content {
    font-family: Montserrat-Regular, serif;
    font-size: 20px;
    color: #000000;
  }

  .vacancy-text {
    padding: 0 344px 300px 0;
    p {
      font-size: 20px;
      font-family: Montserrat-Regular, serif;
    }
  }
  .vacancy-header {
    margin-bottom: 100px;
    width: 100%;
    span {
      font-family: Montserrat-Black, serif;
      font-size: 40px;
    }
  }
  .responsibilities-list {
    padding: 0 344px 300px 0;
    ul li {
      line-height: 1.6rem;
      margin-bottom: 20px;
      font-size: 20px;
      font-family: Montserrat-Regular,serif;
    }
  }
  .social {
    margin-bottom: 280px;
    ul li {
      font-size: 20px;
      font-family: Montserrat-Bold, serif;
      margin-bottom: 20px;
    }
  }

}


.item {
  padding: 10px;
  box-sizing: border-box;
}

.tile {
  min-height: 200px;
  background-color: #ccc;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}


.myPoint {
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
}
.myPoint  li {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  padding: 4px;
  margin: 0 3px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
}
.myPoint  li.active {
  background: #6b6b6b;
  transform: scale(1.2);
}
