<!--
<div class="container-fluid">
  <div class="row">
    <div class="vacancy-description">
      <p>account / project manager</p>
    </div>
    <div class="vacancy-info">
      <ul>
        <li>
          <div class="info-header">term</div>
          <div class="info-content">full-time</div>
        </li>
        <li>
          <div class="info-header">duration</div>
          <div class="info-content">permanent</div>
        </li>
        <li>
          <div class="info-header">location</div>
          <div class="info-content">Yerevan | Armenia</div>
        </li>
        <li>
          <div class="info-header">opening date</div>
          <div class="info-content">20 sep 2019</div>
        </li>
        <li>
          <div class="info-header">application deadline</div>
          <div class="info-content">31 oct 2019</div>
        </li>
      </ul>
    </div>
    <div class="vacancy-header">
      <span>job responsibilities</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>- Ability to translate business, brand, and marketing goals into effective initiatives</li>
        <li>- Understanding of latest project management and attribution measurement disciplines</li>
        <li>- Provides consistent reporting on progress and effectiveness</li>
        <li>- Flexible, consultative approach to working with other teams and departments</li>
        <li>- Builds and maintains effective relationships with internal and external groups</li>
        <li>- Enforces the highest standards of quality and performance</li>
        <li>- Perform proficiently with technology tools including MS Office Suite</li>
      </ul>
    </div>

    <div class="vacancy-header">
      <span>required qualifications</span>
    </div>
    <div class="responsibilities-list">
      <ul class="list-group">
        <li>- Bachelor's degree</li>
        <li>- Experience in digital marketing content production, timelines and process</li>
        <li>- Experience working with creative, marketing and sales personnel to effectively generate awareness and preference among prospects and loyalty and enthusiasm among members</li>
        <li>- Excellent verbal and written communications</li>
        <li>- Excellent knowledge of Armenian, English and Russian languages</li>
        <li>- Exceptional drive, organizational, project management, and teambuilding skills to deliver results on time</li>
        <li>- Creative, proactive, resilient and enthusiastic―willing to take smart risks and lead initiatives with confidence</li>
      </ul>
    </div>

    <div class="vacancy-header">
      <span>share this article with freinds</span>
    </div>
    &lt;!&ndash;<div class="social">&ndash;&gt;
      &lt;!&ndash;<ul class="list-group">&ndash;&gt;
        &lt;!&ndash;<li>via facebook</li>&ndash;&gt;
        &lt;!&ndash;<li>via massanger</li>&ndash;&gt;
        &lt;!&ndash;<li>via viber</li>&ndash;&gt;
        &lt;!&ndash;<li>via whats app</li>&ndash;&gt;
      &lt;!&ndash;</ul>&ndash;&gt;
    &lt;!&ndash;</div>&ndash;&gt;
  </div>
</div>
-->

<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
  <div *nguCarouselDef="let item;" class="item">
    <div class="tile">{{item}}</div>
  </div>
  <button NguCarouselNext class="rightRs">></button>
  <button NguCarouselPrev class="leftRs"><</button>
  <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let j of myCarousel.pointNumbers; let j = index" [class.active]="j==myCarousel.activePoint" (click)="myCarousel.moveTo(j)"></li>
  </ul>
</ngu-carousel>
